auditapi/** linguist-generated=false
bmcapi/** linguist-generated=false
ipapi/** linguist-generated=false
networkapi/** linguist-generated=false
ranchersolutionapi/** linguist-generated=false
tagapi/** linguist-generated=false