name: 'Test SDK'
description: 'Test SDK using a given test file.'
inputs:
  test-suite: 
    description: 'Name of the test suite to run.'
    required: true
runs:
  using: "composite"
  steps:
    - name: Setup go-junit-report
      shell: bash
      run: go install github.com/jstemmer/go-junit-report@latest
    - name: Run tests
      shell: bash
      run: cd tests && go test -v -run ${{ inputs.test-suite }} | go-junit-report -set-exit-code > ${{inputs.test-suite}}.xml
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Test Results
        path: 'tests/*'