openapi: 3.0.3
info:
  contact:
    email: support@phoenixnap.com
    name: PhoenixNAP Team
    url: https://phoenixnap.com/
  description: The API that receives and shows actions that an account has taken in
    the system. </br></br>**All URLs are relative to (https://api.phoenixnap.com/audit/v1/)**
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://phoenixnap.com/infrastructure-solutions/legal-it/privacy-shield-compliant-privacy-policy
  title: Audit Log API
  version: "1.0"
servers:
- url: https://api.phoenixnap.com/audit/v1
security:
- OAuth2:
  - audit.read
tags:
- description: Event operations
  name: Events
paths:
  /events:
    get:
      description: Retrieves the event logs for given time period. All date & times
        are in UTC.
      operationId: eventsGet
      parameters:
      - description: From the date and time (inclusive) to filter event log records
          by.
        example: 2021-04-27T16:24:57.123Z
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To the date and time (inclusive) to filter event log records
          by.
        example: 2021-04-29T16:24:57.123Z
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit the number of records returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Ordering of the event's time. SortBy can be introduced later
          on.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: The username that did the actions.
        example: johnd@phoenixnap.com
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The HTTP verb corresponding to the action.
        explode: true
        in: query
        name: verb
        required: false
        schema:
          enum:
          - POST
          - PUT
          - PATCH
          - DELETE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: The list of events recorded.
        "206":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: The truncated list of events recorded.
      security:
      - OAuth2:
        - audit.read
      summary: List event logs.
      tags:
      - Events
components:
  schemas:
    Event:
      description: The event log.
      example:
        userInfo:
          accountId: 1234dfgdsf
          clientId: e9d335b1-3aa4-4760-9bad-2595c0449035
          username: johnd@phoenixnap.com
        name: API.CreateServer
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        name:
          description: The name of the event.
          example: API.CreateServer
          type: string
        timestamp:
          description: The UTC time the event initiated.
          format: date-time
          type: string
        userInfo:
          $ref: '#/components/schemas/UserInfo'
      required:
      - timestamp
      - userInfo
      type: object
    Request:
      description: The request details sent by the user.
      properties:
        headers:
          $ref: '#/components/schemas/Headers'
        uri:
          description: The request URI.
          example: /v1/servers/jghf757HGhjghg
          type: string
        verb:
          description: The HTTP request verb.
          enum:
          - POST
          - PUT
          - PATCH
          - DELETE
          example: PATCH
          type: string
      required:
      - headers
      - uri
      - verb
      type: object
    ApiAction:
      allOf:
      - $ref: '#/components/schemas/Event'
      - $ref: '#/components/schemas/ApiAction_allOf'
    Response:
      description: The response received from the cluster.
      properties:
        statusCode:
          description: The status code returned in the response sent to the API.
          example: 200
          type: integer
        resourceId:
          description: The ID of the resource that was created.
          example: 5edf1c9b4215748ac543d721
          type: string
      required:
      - statusCode
      type: object
    UserInfo:
      description: Details related to the user / application performing this request
      example:
        accountId: 1234dfgdsf
        clientId: e9d335b1-3aa4-4760-9bad-2595c0449035
        username: johnd@phoenixnap.com
      properties:
        accountId:
          description: The BMC account ID
          example: 1234dfgdsf
          type: string
        clientId:
          description: The client ID of the application
          example: e9d335b1-3aa4-4760-9bad-2595c0449035
          type: string
        username:
          description: The logged in user or owner of the client application
          example: johnd@phoenixnap.com
          type: string
      required:
      - accountId
      - username
      type: object
    Headers:
      description: Headers request to be sent in the event log.
      properties:
        userAgent:
          description: The UA String
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
            like Gecko) Chrome/90.0.4430.93 Safari/537.36
          type: string
      required:
      - userAgent
      type: object
    ApiAction_allOf:
      properties:
        response:
          $ref: '#/components/schemas/Response'
        request:
          $ref: '#/components/schemas/Request'
      required:
      - request
      - response
      type: object
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          scopes:
            audit.read: Grants read only access to audit-log-api.
          tokenUrl: https://auth.phoenixnap.com/auth/realms/BMC/protocol/openid-connect/token
      type: oauth2
