name: 'Lint SDK'
description: 'Lint SDK from a given directory'
inputs:
  module-name: 
    description: 'Name of the module to lint.'
    required: true
runs:
  using: "composite"
  steps:
    - uses: actions/download-artifact@v4
    - uses: ./.github/workflows/composite/setup-go
    - name: Lint module
      shell: bash
      run: cd ${{ inputs.module-name }} && go mod tidy && go vet ./...