openapi: 3.0.2
info:
  contact:
    email: support@phoenixnap.com
    name: PhoenixNAP Team
    url: https://phoenixnap.com/
  description: "Create, list, edit and delete public/private networks with the Network\
    \ API. Use public networks to place multiple \nservers on the same network or\
    \ VLAN. Assign new servers with IP addresses from the same CIDR range. Use private\
    \ \nnetworks to avoid unnecessary egress data charges. Model your networks according\
    \ to your business needs.<br>\n<br>\n<span class='pnap-api-knowledge-base-link'>\n\
    Helpful knowledge base articles are available for \n<a href='https://phoenixnap.com/kb/bmc-server-management-via-api#multi-private-backend-network-api'\
    \ target='_blank'>multi-private backend networks</a>, \n<a href='https://phoenixnap.com/kb/bmc-server-management-via-api#ftoc-heading-15'\
    \ target='_blank'>public networks</a> and\n<a href='https://phoenixnap.com/kb/border-gateway-protocol-bmc'\
    \ target='_blank'>border gateway protocol peer groups</a>.\n</span><br>\n<br>\n\
    <b>All URLs are relative to (https://api.phoenixnap.com/networks/v1/)</b>\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://phoenixnap.com/infrastructure-solutions/legal-it/privacy-shield-compliant-privacy-policy
  title: Networks API
  version: "1.0"
servers:
- url: https://api.phoenixnap.com/networks/v1
security:
- OAuth2:
  - bmc
  - bmc.read
tags:
- description: Private Network operations
  name: Private Networks
- description: Public networks operations
  name: Public Networks
- description: BGP peer groups operations
  name: BGP Peer Groups
paths:
  /private-networks:
    get:
      description: List all Private Networks owned by account.
      operationId: privateNetworksGet
      parameters:
      - description: If present will filter the result by the given location of the
          Private Networks.
        example: PHX
        explode: true
        in: query
        name: location
        required: false
        schema:
          description: "Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA`\
            \ and `AUS`."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 604724a5a807f2d3be8660c7
                name: My Default Backend Network
                type: PRIVATE
                location: PHX
                locationDefault: true
                vlanId: 10
                description: My Default Backend Network
                cidr: 10.0.0.0/24
                servers:
                - id: 603f3e995c18d515cda9c4f8
                  ips:
                  - 10.0.0.2
                  - 10.0.0.3
                memberships:
                - resourceId: 603f3e995c18d515cda9c4f8
                  resourceType: server
                  ips:
                  - 10.0.0.2
                  - 10.0.0.3
                status: READY
                createdOn: 2022-04-07T13:20:30.491Z
              - id: 604724ac9ed2abd18e9f1cb6
                name: My Additional Backend Network
                type: PRIVATE
                location: PHX
                locationDefault: false
                vlanId: 11
                description: My Additional Backend Network
                cidr: 10.0.0.0/24
                servers:
                - id: 603f3e995c18d515cdvte548
                  ips:
                  - 10.0.0.4
                  - 10.0.0.5
                memberships:
                - resourceId: 603f3e995c18d515cdvte548
                  resourceType: server
                  ips:
                  - 10.0.0.4
                  - 10.0.0.5
                status: READY
                createdOn: 2022-04-07T13:20:30.491Z
              schema:
                items:
                  $ref: '#/components/schemas/PrivateNetwork'
                type: array
          description: List of all the Private Networks owned by account.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: List Private Networks.
      tags:
      - Private Networks
    post:
      description: Create a Private Network.
      operationId: privateNetworksPost
      parameters:
      - description: Query parameter controlling advanced features availability. Currently
          applicable for networking. It is advised to use with caution since it might
          lead to unhealthy setups.
        example: true
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            examples:
              PrivateNetworkCreateDefault:
                value:
                  name: My Default Backend Network
                  location: PHX
                  locationDefault: true
                  description: My Default Backend Network
                  cidr: 10.0.0.0/24
              PrivateNetworkCreateNonDefault:
                value:
                  name: My Additional Backend Network
                  location: PHX
                  locationDefault: false
                  description: My Additional Backend Network
                  cidr: 10.0.0.0/24
            schema:
              $ref: '#/components/schemas/PrivateNetworkCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PrivateNetworkDefaultCreated:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers: []
                    memberships: []
                    status: READY
                    createdOn: 2022-04-07T13:20:30.491Z
                PrivateNetworkNonDefaultCreated:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers: []
                    memberships: []
                    status: READY
                    createdOn: 2022-04-07T13:20:30.491Z
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: Private Network successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Create a Private Network.
      tags:
      - Private Networks
  /private-networks/{privateNetworkId}:
    delete:
      description: Delete Private Network.
      operationId: privateNetworksNetworkIdDelete
      parameters:
      - description: The private network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Private Network deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Delete a Private Network.
      tags:
      - Private Networks
    get:
      description: Retrieve Private Network Details.
      operationId: privateNetworksNetworkIdGet
      parameters:
      - description: The private network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                DefaultPrivateNetwork:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cda9c4f8
                      ips:
                      - 10.0.0.2
                      - 10.0.0.3
                    memberships:
                    - resourceId: 603f3e995c18d515cda9c4f8
                      resourceType: server
                      ips:
                      - 10.0.0.2
                      - 10.0.0.3
                    status: READY
                    createdOn: 2022-04-07T13:20:30.491Z
                AdditionalPrivateNetwork:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cdvte548
                      ips:
                      - 10.0.0.4
                      - 10.0.0.5
                    memberships:
                    - resourceId: 603f3e995c18d515cdvte548
                      resourceType: server
                      ips:
                      - 10.0.0.4
                      - 10.0.0.5
                    status: READY
                    createdOn: 2022-04-07T13:20:30.491Z
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: Private Network Details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: Get a Private Network.
      tags:
      - Private Networks
    put:
      description: Update Private Network Details.
      operationId: privateNetworksNetworkIdPut
      parameters:
      - description: The private network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              PrivateNetworkDefaultUpdate:
                value:
                  name: My Default Backend Network
                  description: My Default Backend Network
                  locationDefault: true
              PrivateNetworkNonDefaultUpdate:
                value:
                  name: My Additional Backend Network
                  description: My Additional Backend Network
                  locationDefault: false
            schema:
              $ref: '#/components/schemas/PrivateNetworkModify'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                PrivateNetworkDefaultModified:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cda9c4f8
                      ips:
                      - 10.0.0.2
                      - 10.0.0.3
                    memberships:
                    - resourceId: 603f3e995c18d515cda9c4f8
                      resourceType: server
                      ips:
                      - 10.0.0.2
                      - 10.0.0.3
                    status: READY
                    createdOn: 2022-04-07T13:20:30.491Z
                PrivateNetworkNonDefaultModified:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cdvte548
                      ips:
                      - 10.0.0.4
                      - 10.0.0.5
                    memberships:
                    - resourceId: 603f3e995c18d515cdvte548
                      resourceType: server
                      ips:
                      - 10.0.0.4
                      - 10.0.0.5
                    status: READY
                    createdOn: 2022-04-07T13:20:30.491Z
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: Private Network successfully updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Update a Private Network.
      tags:
      - Private Networks
  /public-networks:
    get:
      description: List all Public Networks owned by account.
      operationId: publicNetworksGet
      parameters:
      - description: If present will filter the result by the given location of the
          Public Networks.
        example: PHX
        explode: true
        in: query
        name: location
        required: false
        schema:
          description: "Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA`\
            \ and `AUS`."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 60472f76bbadb4f36541d2fd
                name: Initial public network
                location: PHX
                description: "My first public network #1"
                ipBlocks:
                - id: 60473a6115e34466c9f8f083
                - id: 616e6ec6d66b406a45ab8797
                - id: 617d2d128bacbb05aca2caeb
                - id: 617d2da78bacbb05aca2caef
                - id: 618e5383a835704f8c59522d
                - id: 617d2f834dcf2869f8e4ef0b
                - id: 5f325c71b8a7ef1473e3c85b
                - id: 5ff5cc9bc1acf144d9106233
                - id: 610001e7da283e36d0a0df9f
                - id: 613b51c01f4b04615ba1d3be
                vlanId: 10
                createdOn: 2022-04-05T13:50:30.491Z
                status: READY
                memberships:
                - resourceId: 6128d3754b478b76ee8b3cdd
                  resourceType: server
                  ips:
                  - 10.111.14.110
                  - 10.111.14.115
                  - 10.111.14.136
                - resourceId: 5feae6b0b00bfb14eda82fc7
                  resourceType: server
                  ips:
                  - 10.111.14.121
              - id: 6123b97643046b5bffb1d7c3
                name: My additional public network
                location: PHX
                description: "My second public network #2"
                ipBlocks: []
                vlanId: 11
                status: READY
                createdOn: 2022-04-05T13:50:30.491Z
                memberships: []
              schema:
                items:
                  $ref: '#/components/schemas/PublicNetwork'
                type: array
          description: List of all the Public Networks owned by account.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: List Public Networks.
      tags:
      - Public Networks
    post:
      description: Create a public network.
      operationId: publicNetworksPost
      requestBody:
        content:
          application/json:
            examples:
              PublicNetworkCreationWithOnlyRequiredField:
                value:
                  name: Initial public network
                  location: PHX
              PublicNetworkCreationOnlyWithoutIpBlocks:
                value:
                  name: Initial public network
                  location: PHX
                  description: "My first public network #1"
              PublicNetworkCreationWithAllParameters:
                value:
                  name: Initial public network
                  location: PHX
                  description: "My first public network #1"
                  ipBlocks:
                  - id: 60473a6115e34466c9f8f083
                  - id: 616e6ec6d66b406a45ab8797
                  - id: 617d2d128bacbb05aca2caeb
                  - id: 617d2da78bacbb05aca2caef
                  - id: 618e5383a835704f8c59522d
                  - id: 617d2f834dcf2869f8e4ef0b
                  - id: 5f325c71b8a7ef1473e3c85b
                  - id: 5ff5cc9bc1acf144d9106233
                  - id: 610001e7da283e36d0a0df9f
                  - id: 613b51c01f4b04615ba1d3be
            schema:
              $ref: '#/components/schemas/PublicNetworkCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PublicNetworkWithOnlyRequiredFields:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships: []
                PublicNetworkOnlyWithoutIpBlocks:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: "My first public network #1"
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships: []
                PublicNetworkWithAllParameters:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: "My first public network #1"
                    ipBlocks:
                    - id: 60473a6115e34466c9f8f083
                    - id: 616e6ec6d66b406a45ab8797
                    - id: 617d2d128bacbb05aca2caeb
                    - id: 617d2da78bacbb05aca2caef
                    - id: 618e5383a835704f8c59522d
                    - id: 617d2f834dcf2869f8e4ef0b
                    - id: 5f325c71b8a7ef1473e3c85b
                    - id: 5ff5cc9bc1acf144d9106233
                    - id: 610001e7da283e36d0a0df9f
                    - id: 613b51c01f4b04615ba1d3be
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships: []
              schema:
                $ref: '#/components/schemas/PublicNetwork'
          description: Network successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Create a public network.
      tags:
      - Public Networks
  /public-networks/{publicNetworkId}:
    delete:
      description: Delete Public Network. The request is accepted only if no resources
        are members of this network. The IP Block(s) will be freed and can be re-used
        in the future.
      operationId: publicNetworksNetworkIdDelete
      parameters:
      - description: The Public Network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: publicNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The Public Network has been deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Delete a Public Network.
      tags:
      - Public Networks
    get:
      description: Retrieve Public Network Details.
      operationId: publicNetworksNetworkIdGet
      parameters:
      - description: The Public Network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: publicNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                PublicNetworkWithOnlyRequiredFields:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships: []
                PublicNetworkOnlyWithoutIpBlocks:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: "My first public network #1"
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships: []
                PublicNetworkWithIpBlocks:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: "My first public network #1"
                    ipBlocks:
                    - id: 60473a6115e34466c9f8f083
                    - id: 616e6ec6d66b406a45ab8797
                    - id: 617d2d128bacbb05aca2caeb
                    - id: 617d2da78bacbb05aca2caef
                    - id: 618e5383a835704f8c59522d
                    - id: 617d2f834dcf2869f8e4ef0b
                    - id: 5f325c71b8a7ef1473e3c85b
                    - id: 5ff5cc9bc1acf144d9106233
                    - id: 610001e7da283e36d0a0df9f
                    - id: 613b51c01f4b04615ba1d3be
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships: []
                PublicNetworkWithIpBlocksAndServers:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: "My first public network #1"
                    ipBlocks:
                    - id: 60473a6115e34466c9f8f083
                    - id: 616e6ec6d66b406a45ab8797
                    - id: 617d2d128bacbb05aca2caeb
                    - id: 617d2da78bacbb05aca2caef
                    - id: 618e5383a835704f8c59522d
                    - id: 617d2f834dcf2869f8e4ef0b
                    - id: 5f325c71b8a7ef1473e3c85b
                    - id: 5ff5cc9bc1acf144d9106233
                    - id: 610001e7da283e36d0a0df9f
                    - id: 613b51c01f4b04615ba1d3be
                    vlanId: 10
                    status: READY
                    createdOn: 2022-04-05T13:50:30.491Z
                    memberships:
                    - resourceId: 6128d3754b478b76ee8b3cdd
                      resourceType: server
                      ips:
                      - 10.111.14.123
                    - resourceId: 5feae6b0b00bfb14eda82fc7
                      resourceType: server
                      ips:
                      - 10.111.14.200
                      - 10.111.14.201
                      - 10.111.14.202
              schema:
                $ref: '#/components/schemas/PublicNetwork'
          description: Public Network Details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: Get a Public Network.
      tags:
      - Public Networks
    patch:
      description: Update Public Network's Details.
      operationId: publicNetworksNetworkIdPatch
      parameters:
      - description: The Public Network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: publicNetworkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              PublicNetworkModifyWithNameAndDescription:
                value:
                  name: My public network
                  description: The new description of my public network
              PublicNetworkModifyWithNameOnly:
                value:
                  name: My public network
              PublicNetworkModifyWithDescriptionOnly:
                value:
                  description: The new description of my public network
            schema:
              $ref: '#/components/schemas/PublicNetworkModify'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 60472f76bbadb4f36541d2fd
                name: My public network
                location: PHX
                description: The new description of my public network
                ipBlocks: []
                vlanId: 10
                status: READY
                createdOn: 2022-04-05T13:50:30.491Z
                memberships: []
              schema:
                $ref: '#/components/schemas/PublicNetwork'
          description: Network successfully updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Update Public Network's Details.
      tags:
      - Public Networks
  /public-networks/{publicNetworkId}/ip-blocks:
    post:
      description: Adds an IP block to this public network.
      operationId: publicNetworksNetworkIdIpBlocksPost
      parameters:
      - description: The Public Network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: publicNetworkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: 60473a6115e34466c9f8f083
            schema:
              $ref: '#/components/schemas/PublicNetworkIpBlock'
        required: true
      responses:
        "202":
          content:
            application/json:
              example:
                id: 60473a6115e34466c9f8f083
              schema:
                $ref: '#/components/schemas/PublicNetworkIpBlock'
          description: The specified IP block is being added to the public network.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Adds an IP block to this public network.
      tags:
      - Public Networks
  /public-networks/{publicNetworkId}/ip-blocks/{ipBlockId}:
    delete:
      description: "Removes the IP Block from the Public Network.<br> Please ensure\
        \ that no resource members within this network have any IPs assigned from\
        \ the IP Block being removed.<br> Defining `force` query parameter allows\
        \ resource assigned IP block to be removed anyway.  As a result, traffic addressed\
        \ to any IP within the block will not be routed to this network anymore."
      operationId: publicNetworksNetworkIdIpBlocksIpBlockIdDelete
      parameters:
      - description: The Public Network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: publicNetworkId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Block identifier.
        example: 6047127fed34ecc3ba8402d2
        explode: false
        in: path
        name: ipBlockId
        required: true
        schema:
          type: string
        style: simple
      - description: Query parameter controlling advanced features availability. Currently
          applicable for networking. It is advised to use with caution since it might
          lead to unhealthy setups.
        example: true
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "202":
          content:
            application/json:
              example: The specified IP block is being removed from the Public Network.
              schema:
                description: The specified IP block is being removed from the Public
                  Network.
                example: The specified IP block is being removed from the Public Network.
                type: string
          description: The specified IP block is being removed from the Public Network.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Removes the IP Block from the Public Network.
      tags:
      - Public Networks
  /bgp-peer-groups:
    get:
      description: List all BGP Peer Groups owned by account.
      operationId: bgpPeerGroupsGet
      parameters:
      - description: If present will filter the result by the given location of the
          BGP Peer Group.
        example: PHX
        explode: true
        in: query
        name: location
        required: false
        schema:
          description: "Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA`\
            \ and `AUS`."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 60473c2509268bc77fd06d29
                status: READY
                location: ASH
                ipv4Prefixes:
                - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                  cidr: 10.111.14.40/29
                  status: READY
                  isBringYourOwnIp: false
                  inUse: false
                targetAsnDetails:
                  asn: 65401
                  isBringYourOwn: false
                  verificationStatus: VERIFIED
                activeAsnDetails:
                  asn: 65401
                  isBringYourOwn: false
                  verificationStatus: VERIFIED
                password: E!73423ghhjfge45
                advertisedRoutes: NONE
                rpkiRoaOriginAsn: 19437
                eBgpMultiHop: 7
                peeringLoopbacksV4:
                - 169.254.247.0
                - 169.254.247.1
                keepAliveTimerSeconds: 10
                holdTimerSeconds: 30
                createdOn: 2024-03-01T10:30:00Z
                lastUpdatedOn: 2024-03-01T14:30:00Z
              - id: 60473c2509268bc77fd06d30
                status: READY
                location: PHX
                ipv4Prefixes:
                - ipv4AllocationId: 6047127fed34ecc3ba8402d3
                  cidr: 10.121.14.40/29
                  status: READY
                  isBringYourOwnIp: false
                  inUse: false
                targetAsnDetails:
                  asn: 65401
                  isBringYourOwn: false
                  verificationStatus: VERIFIED
                activeAsnDetails:
                  asn: 65401
                  isBringYourOwn: false
                  verificationStatus: VERIFIED
                password: E!2187asd324aio1
                advertisedRoutes: DEFAULT
                rpkiRoaOriginAsn: 20454
                eBgpMultiHop: 7
                peeringLoopbacksV4:
                - 170.254.247.0
                - 170.254.247.1
                keepAliveTimerSeconds: 10
                holdTimerSeconds: 30
                createdOn: 2024-03-01T10:30:00Z
                lastUpdatedOn: 2024-03-01T14:30:00Z
              schema:
                items:
                  $ref: '#/components/schemas/BgpPeerGroup'
                type: array
          description: List all BGP Peer Groups owned by account.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: List BGP Peer Groups.
      tags:
      - BGP Peer Groups
    post:
      description: Create a BGP Peer Group.
      operationId: bgpPeerGroupsPost
      requestBody:
        content:
          application/json:
            examples:
              bgpPeerGroupWithDefaultAndRequiredParameters:
                value:
                  location: PHX
                  asn: 65401
                  advertisedRoutes: NONE
              bgpPeerGroupWithAllCustomParameters:
                value:
                  location: ASH
                  asn: 65402
                  password: E!73423ghhjfge45
                  advertisedRoutes: DEFAULT
            schema:
              $ref: '#/components/schemas/BgpPeerGroupCreate'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                bgpPeerGroupWithRequiredParametersResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: PHX
                    ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge45
                    advertisedRoutes: NONE
                    rpkiRoaOriginAsn: 20454
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    lastUpdatedOn: 2024-03-01T14:30:00Z
                bgpPeerGroupWithAllParametersResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                    targetAsnDetails:
                      asn: 65402
                      isBringYourOwn: true
                      verificationStatus: PENDING_VERIFICATION
                    password: E!73423ghhjfge45
                    advertisedRoutes: DEFAULT
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    lastUpdatedOn: 2024-03-01T14:30:00Z
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
          description: Request to create BGP Peer Group is accepted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Creation of BGP Peer Group in location is presently not available.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Create a BGP Peer Group.
      tags:
      - BGP Peer Groups
  /bgp-peer-groups/{bgpPeerGroupId}:
    delete:
      description: Deletes BGP Peer Group by ID.
      operationId: bgpPeerGroupsPeerGroupIdDelete
      parameters:
      - description: The BGP peer group ID.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: bgpPeerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                bgpPeerGroupResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge45
                    advertisedRoutes: NONE
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: 2024-03-01T10:30:00Z
                    lastUpdatedOn: 2024-03-01T14:30:00Z
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
          description: Request to delete BGP Peer Group is accepted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Delete a BGP Peer Group.
      tags:
      - BGP Peer Groups
    get:
      description: Retrieves BGP Peer Group by ID.
      operationId: bgpPeerGroupsPeerGroupIdGet
      parameters:
      - description: The BGP peer group ID.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: bgpPeerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                bgpPeerGroupResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: READY
                    location: ASH
                    ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge45
                    advertisedRoutes: NONE
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: 2024-03-01T10:30:00Z
                    lastUpdatedOn: 2024-03-01T14:30:00Z
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
          description: BGP Peer Group by ID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: Get a BGP Peer Group.
      tags:
      - BGP Peer Groups
    patch:
      description: Modifies BGP Peer Group by ID.
      operationId: bgpPeerGroupsPeerGroupIdPatch
      parameters:
      - description: The BGP peer group ID.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: bgpPeerGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              modifyBgpPeerGroup:
                value:
                  password: E!73423ghhjfge46
                  advertisedRoutes: DEFAULT
              modifyBgpPeerGroupAsn:
                value:
                  asn: 65402
                  password: E!73423ghhjfge46
                  advertisedRoutes: DEFAULT
            schema:
              $ref: '#/components/schemas/BgpPeerGroupPatch'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                modifyBgpPeerGroupResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge46
                    advertisedRoutes: DEFAULT
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: 2024-03-01T10:30:00Z
                    lastUpdatedOn: 2024-03-01T14:30:00Z
                modifyBgpPeerGroupAsnResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                    targetAsnDetails:
                      asn: 65402
                      isBringYourOwn: true
                      verificationStatus: PENDING_VERIFICATION
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge46
                    advertisedRoutes: DEFAULT
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: 2024-03-01T10:30:00Z
                    lastUpdatedOn: 2024-03-01T14:30:00Z
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
          description: Request to modify BGP Peer Group is accepted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is in an incompatible state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Modify a BGP Peer Group.
      tags:
      - BGP Peer Groups
components:
  parameters:
    forceQueryParam:
      description: Query parameter controlling advanced features availability. Currently
        applicable for networking. It is advised to use with caution since it might
        lead to unhealthy setups.
      example: true
      explode: true
      in: query
      name: force
      required: false
      schema:
        default: false
        type: boolean
      style: form
    privateNetworkIdPathParam:
      description: The private network identifier.
      example: 603f3b2cfcaf050643b89a4b
      explode: false
      in: path
      name: privateNetworkId
      required: true
      schema:
        type: string
      style: simple
    publicNetworkIdPathParam:
      description: The Public Network identifier.
      example: 603f3b2cfcaf050643b89a4b
      explode: false
      in: path
      name: publicNetworkId
      required: true
      schema:
        type: string
      style: simple
    ipBlockIdPathParam:
      description: The IP Block identifier.
      example: 6047127fed34ecc3ba8402d2
      explode: false
      in: path
      name: ipBlockId
      required: true
      schema:
        type: string
      style: simple
    bgpPeerGroupIdPathParam:
      description: The BGP peer group ID.
      example: 603f3b2cfcaf050643b89a4b
      explode: false
      in: path
      name: bgpPeerGroupId
      required: true
      schema:
        type: string
      style: simple
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed due to wrong data. Please check the provided
        parameters and try again.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed due to invalid credentials. Please check the
        provided credentials and try again.
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed since this resource cannot be accessed by the
        provided credentials.
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The server encountered an unexpected condition that prevented it
        from fulfilling the request.
    Conflict:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The resource is in an incompatible state.
  schemas:
    PrivateNetworkServer:
      description: Server details linked to the Private Network.
      example:
        id: 603f3e995c18d515cda9c4f8
        ips:
        - 10.0.0.2
        - 10.0.0.3
      properties:
        id:
          description: The server identifier.
          example: 603f3e995c18d515cda9c4f8
          type: string
        ips:
          description: List of private IPs associated to the server.
          example:
          - 10.0.0.2
          - 10.0.0.3
          items:
            example: 10.0.0.2
            type: string
          type: array
      required:
      - id
      - ips
      type: object
    NetworkMembership:
      description: Resource details linked to the Network.
      example:
        resourceId: 603f3e995c18d515cda9c4f8
        ips:
        - 10.111.14.104
        - 10.111.14.105
        - 10.111.14.106
        resourceType: server
      properties:
        resourceId:
          description: The resource identifier.
          example: 603f3e995c18d515cda9c4f8
          type: string
        resourceType:
          description: The resource's type.
          example: server
          type: string
        ips:
          description: List of IPs associated to the resource.
          example:
          - 10.111.14.104
          - 10.111.14.105
          - 10.111.14.106
          items:
            type: string
          type: array
      required:
      - ips
      - resourceId
      - resourceType
      type: object
    PrivateNetwork:
      description: Private Network details.
      example:
        servers:
        - id: 603f3e995c18d515cda9c4f8
          ips:
          - 10.0.0.2
          - 10.0.0.3
        - id: 603f3e995c18d515cda9c4f8
          ips:
          - 10.0.0.2
          - 10.0.0.3
        vlanId: 10
        name: Sample Network
        description: Further details on the network
        location: PHX
        cidr: 10.0.0.0/24
        id: 604721852cf65253d151528b
        type: PRIVATE
        locationDefault: true
        createdOn: 2022-04-07T13:30:30.491Z
        memberships:
        - resourceId: 603f3e995c18d515cda9c4f8
          ips:
          - 10.111.14.104
          - 10.111.14.105
          - 10.111.14.106
          resourceType: server
        - resourceId: 603f3e995c18d515cda9c4f8
          ips:
          - 10.111.14.104
          - 10.111.14.105
          - 10.111.14.106
          resourceType: server
        status: READY
      properties:
        id:
          description: The private network identifier.
          example: 604721852cf65253d151528b
          type: string
        name:
          description: The friendly name of this private network.
          example: Sample Network
          maxLength: 100
          minLength: 1
          type: string
        description:
          description: The description of this private network.
          example: Further details on the network
          maxLength: 250
          type: string
        vlanId:
          description: The VLAN of this private network.
          example: 10
          type: integer
        type:
          description: The type of the private network.
          example: PRIVATE
          type: string
        location:
          description: The location of this private network.
          example: PHX
          type: string
        locationDefault:
          description: Identifies network as the default private network for the specified
            location.
          example: true
          type: boolean
        cidr:
          description: IP range associated with this private network in CIDR notation.
          example: 10.0.0.0/24
          type: string
        servers:
          deprecated: true
          items:
            $ref: '#/components/schemas/PrivateNetworkServer'
          type: array
        memberships:
          description: A list of resources that are members of this private network.
          items:
            $ref: '#/components/schemas/NetworkMembership'
          type: array
        status:
          description: "The status of the private network. Can have one of the following\
            \ values: `BUSY`, `READY`, `DELETING` or `ERROR`."
          example: READY
          type: string
        createdOn:
          description: Date and time when this private network was created.
          example: 2022-04-07T13:30:30.491Z
          format: date-time
          type: string
      required:
      - createdOn
      - id
      - location
      - locationDefault
      - memberships
      - name
      - servers
      - status
      - type
      - vlanId
      type: object
    Error:
      properties:
        message:
          description: The description detailing the cause of the error code.
          readOnly: true
          type: string
        validationErrors:
          description: "Validation errors, if any."
          items:
            type: string
          readOnly: true
          type: array
      required:
      - message
      type: object
    PrivateNetworkCreate:
      description: Details of Private Network to be created.
      example:
        vlanId: 10
        name: Sample Network
        description: Further details on the network
        location: PHX
        cidr: 10.0.0.0/24
        locationDefault: true
      properties:
        name:
          description: The friendly name of this private network. This name should
            be unique.
          example: Sample Network
          maxLength: 100
          minLength: 1
          pattern: "^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$"
          type: string
        description:
          description: The description of this private network.
          example: Further details on the network
          maxLength: 250
          type: string
        location:
          description: "The location of this private network. Supported values are\
            \ `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`."
          example: PHX
          type: string
        locationDefault:
          default: false
          description: Identifies network as the default private network for the specified
            location.
          example: true
          type: boolean
        vlanId:
          description: The VLAN that will be assigned to this network.
          example: 10
          maximum: 4094
          minimum: 2
          type: integer
        cidr:
          description: IP range associated with this private network in CIDR notation.<br>
            Setting the `force` query parameter to `true` allows you to skip assigning
            a specific IP range to network.
          example: 10.0.0.0/24
          type: string
      required:
      - location
      - name
      type: object
    PrivateNetworkModify:
      description: Object including details to be modified in the Private Network.
      example:
        name: Sample network
        description: Further details on the network.
        locationDefault: true
      properties:
        name:
          description: A friendly name given to the private network. This name should
            be unique.
          example: Sample network
          maxLength: 100
          minLength: 1
          pattern: "^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$"
          type: string
        description:
          description: A description of this private network
          example: Further details on the network.
          maxLength: 250
          type: string
        locationDefault:
          description: Identifies network as the default private network for the specified
            location.
          example: true
          type: boolean
      required:
      - locationDefault
      - name
      type: object
    PublicNetworkIpBlock:
      description: The assigned IP block to the Public Network.
      example:
        id: 60473a6115e34466c9f8f083
      properties:
        id:
          description: The IP Block identifier.
          example: 60473a6115e34466c9f8f083
          type: string
      required:
      - id
      type: object
    PublicNetwork:
      description: Public Network details.
      example:
        vlanId: 10
        ipBlocks:
        - id: 60473a6115e34466c9f8f083
        - id: 60473a6115e34466c9f8f083
        name: Sample Network
        description: Further details on the network.
        location: PHX
        id: 604721852cf65253d151528b
        createdOn: 2022-04-05T13:50:30.491Z
        memberships:
        - resourceId: 603f3e995c18d515cda9c4f8
          ips:
          - 10.111.14.104
          - 10.111.14.105
          - 10.111.14.106
          resourceType: server
        - resourceId: 603f3e995c18d515cda9c4f8
          ips:
          - 10.111.14.104
          - 10.111.14.105
          - 10.111.14.106
          resourceType: server
        status: READY
      properties:
        id:
          description: The public network identifier.
          example: 604721852cf65253d151528b
          type: string
        vlanId:
          description: The VLAN of this public network.
          example: 10
          type: integer
        memberships:
          description: A list of resources that are members of this public network.
          items:
            $ref: '#/components/schemas/NetworkMembership'
          type: array
        name:
          description: The friendly name of this public network.
          example: Sample Network
          maxLength: 100
          minLength: 1
          type: string
        location:
          description: "The location of this public network. Supported values are\
            \ `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`."
          example: PHX
          type: string
        description:
          description: The description of this public network.
          example: Further details on the network.
          maxLength: 250
          type: string
        status:
          description: "The status of the public network. Can have one of the following\
            \ values: `BUSY`, `READY`, `DELETING` or `ERROR`."
          example: READY
          type: string
        createdOn:
          description: Date and time when this public network was created.
          example: 2022-04-05T13:50:30.491Z
          format: date-time
          type: string
        ipBlocks:
          description: A list of IP Blocks that are associated with this public network.
          items:
            $ref: '#/components/schemas/PublicNetworkIpBlock'
          type: array
      required:
      - createdOn
      - id
      - ipBlocks
      - location
      - memberships
      - name
      - status
      - vlanId
      type: object
    PublicNetworkCreate:
      description: Details of Public Network to be created.
      example:
        vlanId: 10
        ipBlocks:
        - id: 60473a6115e34466c9f8f083
        - id: 60473a6115e34466c9f8f083
        - id: 60473a6115e34466c9f8f083
        - id: 60473a6115e34466c9f8f083
        - id: 60473a6115e34466c9f8f083
        name: Sample Network
        description: Further details on the network.
        location: PHX
      properties:
        name:
          description: The friendly name of this public network. This name should
            be unique.
          example: Sample Network
          maxLength: 100
          minLength: 1
          pattern: "^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$"
          type: string
        description:
          description: The description of this public network.
          example: Further details on the network.
          maxLength: 250
          type: string
        location:
          description: "The location of this public network. Supported values are\
            \ `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`."
          example: PHX
          type: string
        vlanId:
          description: The VLAN that will be assigned to this network.
          example: 10
          maximum: 4094
          minimum: 2
          type: integer
        ipBlocks:
          description: A list of IP Blocks that will be associated with this public
            network.
          items:
            $ref: '#/components/schemas/PublicNetworkIpBlock'
          maxItems: 10
          type: array
      required:
      - location
      - name
      type: object
    PublicNetworkModify:
      description: Public Network Modifiable Details.
      example:
        name: Sample Network
        description: Further details on the network.
      properties:
        name:
          description: A friendly name given to the network. This name should be unique.
          example: Sample Network
          maxLength: 100
          minLength: 1
          pattern: "^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$"
          type: string
        description:
          description: The description of this public network
          example: Further details on the network.
          maxLength: 250
          type: string
      type: object
    BgpIPv4Prefix:
      description: The BGP IPv4 Prefix.
      example:
        ipv4AllocationId: 6047127fed34ecc3ba8402d2
        inUse: false
        cidr: 10.111.14.40/29
        isBringYourOwnIp: false
        status: READY
      properties:
        ipv4AllocationId:
          description: IPv4 allocation ID.
          example: 6047127fed34ecc3ba8402d2
          type: string
        cidr:
          description: The IP block in CIDR format.
          example: 10.111.14.40/29
          pattern: "^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\\
            /(?:[1-9]|[1-2]\\d|3[0-2])$"
          type: string
        status:
          description: "The BGP IPv4 Prefix status. Can have one of the following\
            \ values: `PENDING`, `BUSY`, `READY`, `ERROR` and `DELETING`."
          example: READY
          type: string
        isBringYourOwnIp:
          description: Identifies IP as a `bring your own` IP block.
          example: false
          type: boolean
        inUse:
          description: The Boolean value of the BGP IPv4 Prefix is in use.
          example: false
          type: boolean
      required:
      - cidr
      - inUse
      - ipv4AllocationId
      - isBringYourOwnIp
      - status
      type: object
    AsnDetails:
      description: BGP Peer Group ASN details.
      example:
        verificationStatus: VERIFIED
        isBringYourOwn: false
        asn: 65401
        verificationReason: Bring Your Own ASN verification succeeded all checks.
      properties:
        asn:
          description: The BGP Peer Group ASN.
          example: 65401
          format: int64
          type: integer
        isBringYourOwn:
          description: True if the BGP Peer Group ASN is a `bring your own` ASN.
          example: false
          type: boolean
        verificationStatus:
          description: "The BGP Peer Group ASN verification status. Can have one of\
            \ the following values: `PENDING_VERIFICATION`, `FAILED_VERIFICATION`\
            \ and `VERIFIED`."
          example: VERIFIED
          type: string
        verificationReason:
          description: The BGP Peer Group ASN verification reason for the respective
            status.
          example: Bring Your Own ASN verification succeeded all checks.
          type: string
      readOnly: true
      required:
      - asn
      - isBringYourOwn
      - verificationStatus
      type: object
    BgpPeerGroup:
      description: The Border Gateway Protocol (BGP) Peer Group.
      example:
        advertisedRoutes: DEFAULT
        activeAsnDetails:
          verificationStatus: VERIFIED
          isBringYourOwn: false
          asn: 65401
          verificationReason: Bring Your Own ASN verification succeeded all checks.
        eBgpMultiHop: 7
        createdOn: 2024-03-01T10:30:00Z
        keepAliveTimerSeconds: 10
        password: E!73423ghhjfge45
        targetAsnDetails:
          verificationStatus: VERIFIED
          isBringYourOwn: false
          asn: 65401
          verificationReason: Bring Your Own ASN verification succeeded all checks.
        peeringLoopbacksV4:
        - 169.254.247.0
        - 169.254.247.1
        holdTimerSeconds: 30
        rpkiRoaOriginAsn: 20454
        lastUpdatedOn: 2024-03-01T14:30:00Z
        location: ASH
        id: 60473c2509268bc77fd06d29
        ipv4Prefixes:
        - ipv4AllocationId: 6047127fed34ecc3ba8402d2
          inUse: false
          cidr: 10.111.14.40/29
          isBringYourOwnIp: false
          status: READY
        - ipv4AllocationId: 6047127fed34ecc3ba8402d2
          inUse: false
          cidr: 10.111.14.40/29
          isBringYourOwnIp: false
          status: READY
        status: READY
      properties:
        id:
          description: The unique identifier of the BGP Peer Group.
          example: 60473c2509268bc77fd06d29
          type: string
        status:
          description: "The BGP Peer Group status. Can have one of the following values:\
            \ `PENDING`, `ON_HOLD`, `BUSY`, `READY`, `ERROR`, `PENDING_DELETION` and\
            \ `DELETING`."
          example: READY
          type: string
        location:
          description: "The BGP Peer Group location. Can have one of the following\
            \ values: `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`."
          example: ASH
          type: string
        ipv4Prefixes:
          description: The List of the BGP Peer Group IPv4 prefixes.
          items:
            $ref: '#/components/schemas/BgpIPv4Prefix'
          type: array
        targetAsnDetails:
          $ref: '#/components/schemas/AsnDetails'
        activeAsnDetails:
          $ref: '#/components/schemas/AsnDetails'
        password:
          description: The BGP Peer Group password.
          example: E!73423ghhjfge45
          maxLength: 32
          minLength: 8
          pattern: "^[a-zA-Z0-9!@#$%^&*()\\-|\\[\\]{}=;:<>,.]+$"
          type: string
        advertisedRoutes:
          description: "The Advertised routes for the BGP Peer Group. Can have one\
            \ of the following values: `DEFAULT` and `NONE`."
          example: DEFAULT
          type: string
        rpkiRoaOriginAsn:
          description: The RPKI ROA Origin ASN of the BGP Peer Group based on location.
          example: 20454
          format: int64
          type: integer
        eBgpMultiHop:
          description: The eBGP Multi-hop of the BGP Peer Group.
          example: 7
          type: integer
        peeringLoopbacksV4:
          description: The IPv4 Peering Loopback addresses of the BGP Peer Group.
            Valid IP formats are IPv4 addresses.
          example:
          - 169.254.247.0
          - 169.254.247.1
          items:
            example: 169.254.247.1
            pattern: "^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\\.)){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
            type: string
          type: array
        keepAliveTimerSeconds:
          description: The Keep Alive Timer in seconds of the BGP Peer Group.
          example: 10
          type: integer
        holdTimerSeconds:
          description: The Hold Timer in seconds of the BGP Peer Group.
          example: 30
          type: integer
        createdOn:
          description: Date and time of creation.
          example: 2024-03-01T10:30:00Z
          format: data-time
          type: string
        lastUpdatedOn:
          description: Date and time of last update.
          example: 2024-03-01T14:30:00Z
          format: data-time
          type: string
      readOnly: true
      required:
      - advertisedRoutes
      - eBgpMultiHop
      - holdTimerSeconds
      - id
      - ipv4Prefixes
      - keepAliveTimerSeconds
      - location
      - password
      - peeringLoopbacksV4
      - rpkiRoaOriginAsn
      - status
      - targetAsnDetails
      type: object
    BgpPeerGroupCreate:
      description: Create a BGP Peer Group.
      example:
        advertisedRoutes: DEFAULT
        password: E!73423ghhjfge45
        location: ASH
        asn: 65401
      properties:
        location:
          description: "The BGP Peer Group location. Can have one of the following\
            \ values: `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`."
          example: ASH
          type: string
        asn:
          default: 65401
          description: The BGP Peer Group ASN.
          example: 65401
          format: int64
          type: integer
        password:
          description: The BGP Peer Group password.
          example: E!73423ghhjfge45
          maxLength: 32
          minLength: 8
          pattern: "^[a-zA-Z0-9!@#$%^&*()\\-|\\[\\]{}=;:<>,.]+$"
          type: string
        advertisedRoutes:
          default: NONE
          description: "The Advertised routes for the BGP Peer Group. Can have one\
            \ of the following values: `DEFAULT` and `NONE`."
          example: DEFAULT
          type: string
      required:
      - advertisedRoutes
      - asn
      - location
      type: object
    BgpPeerGroupPatch:
      description: Update a BGP Peer Group.
      example:
        advertisedRoutes: DEFAULT
        password: E!73423ghijfge45
        asn: 65401
      properties:
        asn:
          description: The BGP Peer Group ASN.
          example: 65401
          format: int64
          type: integer
        password:
          description: The BGP Peer Group password.
          example: E!73423ghijfge45
          maxLength: 32
          minLength: 8
          pattern: "^[a-zA-Z0-9!@#$%^&*()\\-|\\[\\]{}=;:<>,.]+$"
          type: string
        advertisedRoutes:
          description: "The Advertised routes for the BGP Peer Group. Can have one\
            \ of the following values: `DEFAULT` and `NONE`."
          example: DEFAULT
          type: string
      type: object
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          scopes:
            bmc: Grants full access to bmc-api.
            bmc.read: Grants read only access to bmc-api.
          tokenUrl: https://auth.phoenixnap.com/auth/realms/BMC/protocol/openid-connect/token
      type: oauth2
