openapi: 3.0.2
info:
  contact:
    email: support@phoenixnap.com
    name: PhoenixNAP Team
    url: https://phoenixnap.com/
  description: Use the Networks API to create, list, edit, and delete private networks
    to best fit your business needs. Private networks allow your servers to communicate
    without connecting to the public internet, avoiding unnecessary egress data charges.
    </br></br>**Knowledge base articles to help you can be found <a href=' https://phoenixnap.com/kb/bmc-server-management-via-api#multi-private-backend-network-api'
    target='_blank'>here</a>**</br></br>**All URLs are relative to (https://api.phoenixnap.com/networks/v1/)**
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://phoenixnap.com/infrastructure-solutions/legal-it/privacy-shield-compliant-privacy-policy
  title: Networks API
  version: "1.0"
servers:
- url: https://api.phoenixnap.com/networks/v1
security:
- OAuth2:
  - bmc
  - bmc.read
tags:
- description: Private Network operations
  name: Private Networks
paths:
  /private-networks:
    get:
      description: List all Private Networks owned by account.
      operationId: privateNetworksGet
      parameters:
      - description: If present will filter the result by the given location of the
          Private Networks.
        example: PHX
        explode: true
        in: query
        name: location
        required: false
        schema:
          description: Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI` and
            `SEA`.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 604724a5a807f2d3be8660c7
                name: My Default Backend Network
                type: PRIVATE
                location: PHX
                locationDefault: true
                vlanId: 10
                description: My Default Backend Network
                cidr: 10.0.0.0/24
                servers:
                - id: 603f3e995c18d515cda9c4f8
                  ips:
                  - 10.0.0.2
                  - 10.0.0.3
              - id: 604724ac9ed2abd18e9f1cb6
                name: My Additional Backend Network
                type: PRIVATE
                location: PHX
                locationDefault: false
                vlanId: 11
                description: My Additional Backend Network
                cidr: 10.0.0.0/24
                servers:
                - id: 603f3e995c18d515cdvte548
                  ips:
                  - 10.0.0.4
                  - 10.0.0.5
              schema:
                items:
                  $ref: '#/components/schemas/PrivateNetwork'
                type: array
          description: List of all the Private Networks owned by account.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: List Private Networks.
      tags:
      - Private Networks
    post:
      description: Create a Private Network.
      operationId: privateNetworksPost
      requestBody:
        content:
          application/json:
            examples:
              PrivateNetworkCreateDefault:
                value:
                  name: My Default Backend Network
                  location: PHX
                  locationDefault: true
                  description: My Default Backend Network
                  cidr: 10.0.0.0/24
              PrivateNetworkCreateNonDefault:
                value:
                  name: My Additional Backend Network
                  location: PHX
                  locationDefault: false
                  description: My Additional Backend Network
                  cidr: 10.0.0.0/24
            schema:
              $ref: '#/components/schemas/PrivateNetworkCreate'
      responses:
        "201":
          content:
            application/json:
              examples:
                PrivateNetworkDefaultCreated:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers: []
                PrivateNetworkNonDefaultCreated:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers: []
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: Private Network successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Create a Private Network.
      tags:
      - Private Networks
  /private-networks/{privateNetworkId}:
    delete:
      description: Delete Private Network.
      operationId: privateNetworksNetworkIdDelete
      parameters:
      - description: The private network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Private Network deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Delete a Private Network.
      tags:
      - Private Networks
    get:
      description: Retrieve Private Network Details.
      operationId: privateNetworksNetworkIdGet
      parameters:
      - description: The private network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                DefaultPrivateNetwork:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cda9c4f8
                      ips:
                      - 10.0.0.2
                      - 10.0.0.3
                AdditionalPrivateNetwork:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cdvte548
                      ips:
                      - 10.0.0.4
                      - 10.0.0.5
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: Private Network Details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since the resource could not been found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: Get a Private Network.
      tags:
      - Private Networks
    put:
      description: Update Private Network Details.
      operationId: privateNetworksNetworkIdPut
      parameters:
      - description: The private network identifier.
        example: 603f3b2cfcaf050643b89a4b
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              PrivateNetworkDefaultUpdate:
                value:
                  name: My Default Backend Network
                  description: My Default Backend Network
                  locationDefault: true
              PrivateNetworkNonDefaultUpdate:
                value:
                  name: My Additional Backend Network
                  description: My Additional Backend Network
                  locationDefault: false
            schema:
              $ref: '#/components/schemas/PrivateNetworkModify'
      responses:
        "200":
          content:
            application/json:
              examples:
                PrivateNetworkDefaultModified:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cda9c4f8
                      ips:
                      - 10.0.0.2
                      - 10.0.0.3
                PrivateNetworkNonDefaultModified:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                    - id: 603f3e995c18d515cdvte548
                      ips:
                      - 10.0.0.4
                      - 10.0.0.5
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: Private Network successfully updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since the resource could not been found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Update a Private Network.
      tags:
      - Private Networks
components:
  parameters:
    privateNetworkIdPathParam:
      description: The private network identifier.
      example: 603f3b2cfcaf050643b89a4b
      explode: false
      in: path
      name: privateNetworkId
      required: true
      schema:
        type: string
      style: simple
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed due to wrong data. Please check the provided
        parameters and try again.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed due to invalid credentials. Please check the
        provided credentials and try again.
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed since this resource cannot be accessed by the
        provided credentials.
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The server encountered an unexpected condition that prevented it
        from fulfilling the request.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed since the resource could not been found.
  schemas:
    PrivateNetwork:
      description: Private Network details.
      example:
        servers:
        - id: 603f3e995c18d515cda9c4f8
          ips:
          - 10.0.0.2
          - 10.0.0.3
        - id: 603f3e995c18d515cda9c4f8
          ips:
          - 10.0.0.2
          - 10.0.0.3
        vlanId: 10
        name: Sample Network
        description: Further details on the network
        location: PHX
        cidr: 10.0.0.0/24
        id: 604721852cf65253d151528b
        type: PRIVATE
        locationDefault: true
      properties:
        id:
          description: The private network identifier.
          example: 604721852cf65253d151528b
          type: string
        name:
          description: The friendly name of this private network.
          example: Sample Network
          type: string
        description:
          description: The description of this private network.
          example: Further details on the network
          type: string
        vlanId:
          description: The VLAN of this private network.
          example: 10
          type: integer
        type:
          description: The type of the private network.
          example: PRIVATE
          type: string
        location:
          description: The location of this private network.
          example: PHX
          type: string
        locationDefault:
          description: Identifies network as the default private network for the specified
            location.
          example: true
          type: boolean
        cidr:
          description: IP range associated with this private network in CIDR notation.
          example: 10.0.0.0/24
          type: string
        servers:
          items:
            $ref: '#/components/schemas/PrivateNetworkServer'
          type: array
      required:
      - cidr
      - id
      - location
      - locationDefault
      - name
      - servers
      - type
      - vlanId
      type: object
    PrivateNetworkServer:
      description: Server details linked to the Private Network.
      example:
        id: 603f3e995c18d515cda9c4f8
        ips:
        - 10.0.0.2
        - 10.0.0.3
      properties:
        id:
          description: The server identifier.
          example: 603f3e995c18d515cda9c4f8
          type: string
        ips:
          description: List of private IPs associated to the server.
          example:
          - 10.0.0.2
          - 10.0.0.3
          items:
            example: 10.0.0.2
            type: string
          type: array
      required:
      - id
      - ips
      type: object
    PrivateNetworkCreate:
      description: Details of Private Network to be created.
      example:
        name: Sample Network
        description: Further details on the network
        location: PHX
        cidr: 10.0.0.0/24
        locationDefault: true
      properties:
        name:
          description: The friendly name of this private network. This name should
            be unique.
          example: Sample Network
          type: string
        description:
          description: The description of this private network.
          example: Further details on the network
          type: string
        location:
          description: The location of this private network. Supported values are
            `PHX`, `ASH`, `SGP`, `NLD`, `CHI` and `SEA`.
          example: PHX
          type: string
        locationDefault:
          default: false
          description: Identifies network as the default private network for the specified
            location.
          example: true
          type: boolean
        cidr:
          description: IP range associated with this private network in CIDR notation.
          example: 10.0.0.0/24
          type: string
      required:
      - cidr
      - location
      - name
      type: object
    PrivateNetworkModify:
      description: Object including details to be modified in the Private Network.
      example:
        name: Sample network
        description: Further details on the network.
        locationDefault: true
      properties:
        name:
          description: A friendly name given to the private network. This name should
            be unique.
          example: Sample network
          type: string
        description:
          description: A description of this private network
          example: Further details on the network.
          type: string
        locationDefault:
          description: Identifies network as the default private network for the specified
            location.
          example: true
          type: boolean
      required:
      - locationDefault
      - name
      type: object
    Error:
      properties:
        message:
          description: The description detailing the cause of the error code.
          readOnly: true
          type: string
        validationErrors:
          description: Validation errors, if any.
          items:
            type: string
          readOnly: true
          type: array
      required:
      - message
      type: object
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          scopes:
            bmc: Grants full access to bmc-api.
            bmc.read: Grants read only access to bmc-api.
          tokenUrl: https://auth.phoenixnap.com/auth/realms/BMC/protocol/openid-connect/token
      type: oauth2
