openapi: 3.0.2
info:
  title: Networks API
  description: |
    Create, list, edit and delete public/private networks with the Network API. Use public networks to place multiple 
    servers on the same network or VLAN. Assign new servers with IP addresses from the same CIDR range. Use private 
    networks to avoid unnecessary egress data charges. Model your networks according to your business needs.<br>
    <br>
    <span class='pnap-api-knowledge-base-link'>
    Helpful knowledge base articles are available for 
    <a href='https://phoenixnap.com/kb/bmc-server-management-via-api#multi-private-backend-network-api' target='_blank'>multi-private backend networks</a>, 
    <a href='https://phoenixnap.com/kb/bmc-server-management-via-api#ftoc-heading-15' target='_blank'>public networks</a> and
    <a href='https://phoenixnap.com/kb/border-gateway-protocol-bmc' target='_blank'>border gateway protocol peer groups</a>.
    </span><br>
    <br>
    <b>All URLs are relative to (https://api.phoenixnap.com/networks/v1/)</b>
  termsOfService: https://phoenixnap.com/infrastructure-solutions/legal-it/privacy-shield-compliant-privacy-policy
  version: '1.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: PhoenixNAP Team
    email: support@phoenixnap.com
    url: https://phoenixnap.com/
servers:
  - url: https://api.phoenixnap.com/networks/v1
security:
  - OAuth2:
      - bmc
      - bmc.read
tags:
  - name: Private Networks
    description: Private Network operations
  - name: Public Networks
    description: Public networks operations
  - name: BGP Peer Groups
    description: BGP peer groups operations
paths:
  /private-networks:
    get:
      tags:
        - Private Networks
      description: List all Private Networks owned by account.
      summary: List Private Networks.
      operationId: privateNetworksGet
      security:
        - OAuth2:
            - bmc.read
      parameters:
        - in: query
          name: location
          required: false
          description: If present will filter the result by the given location of the Private Networks.
          schema:
            description: Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.
            type: string
          example: PHX
      responses:
        '200':
          description: List of all the Private Networks owned by account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateNetwork'
              example:
                - id: 604724a5a807f2d3be8660c7
                  name: My Default Backend Network
                  type: PRIVATE
                  location: PHX
                  locationDefault: true
                  vlanId: 10
                  description: My Default Backend Network
                  cidr: 10.0.0.0/24
                  servers:
                    - id: 603f3e995c18d515cda9c4f8
                      ips:
                        - 10.0.0.2
                        - 10.0.0.3
                  memberships:
                    - resourceId: 603f3e995c18d515cda9c4f8
                      resourceType: server
                      ips:
                        - 10.0.0.2
                        - 10.0.0.3
                  status: READY
                  createdOn: '2022-04-07T13:20:30.491Z'
                - id: 604724ac9ed2abd18e9f1cb6
                  name: My Additional Backend Network
                  type: PRIVATE
                  location: PHX
                  locationDefault: false
                  vlanId: 11
                  description: My Additional Backend Network
                  cidr: 10.0.0.0/24
                  servers:
                    - id: 603f3e995c18d515cdvte548
                      ips:
                        - 10.0.0.4
                        - 10.0.0.5
                  memberships:
                    - resourceId: 603f3e995c18d515cdvte548
                      resourceType: server
                      ips:
                        - 10.0.0.4
                        - 10.0.0.5
                  status: READY
                  createdOn: '2022-04-07T13:20:30.491Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Private Networks
      description: Create a Private Network.
      summary: Create a Private Network.
      operationId: privateNetworksPost
      security:
        - OAuth2:
            - bmc
      parameters:
        - $ref: '#/components/parameters/forceQueryParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetworkCreate'
            examples:
              PrivateNetworkCreateDefault:
                value:
                  name: My Default Backend Network
                  location: PHX
                  locationDefault: true
                  description: My Default Backend Network
                  cidr: 10.0.0.0/24
              PrivateNetworkCreateNonDefault:
                value:
                  name: My Additional Backend Network
                  location: PHX
                  locationDefault: false
                  description: My Additional Backend Network
                  cidr: 10.0.0.0/24
      responses:
        '201':
          description: Private Network successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
              examples:
                PrivateNetworkDefaultCreated:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers: []
                    memberships: []
                    status: READY
                    createdOn: '2022-04-07T13:20:30.491Z'
                PrivateNetworkNonDefaultCreated:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers: []
                    memberships: []
                    status: READY
                    createdOn: '2022-04-07T13:20:30.491Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /private-networks/{privateNetworkId}:
    parameters:
      - $ref: '#/components/parameters/privateNetworkIdPathParam'
    get:
      tags:
        - Private Networks
      description: Retrieve Private Network Details.
      summary: Get a Private Network.
      operationId: privateNetworksNetworkIdGet
      security:
        - OAuth2:
            - bmc.read
      responses:
        '200':
          description: Private Network Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
              examples:
                DefaultPrivateNetwork:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                      - id: 603f3e995c18d515cda9c4f8
                        ips:
                          - 10.0.0.2
                          - 10.0.0.3
                    memberships:
                      - resourceId: 603f3e995c18d515cda9c4f8
                        resourceType: server
                        ips:
                          - 10.0.0.2
                          - 10.0.0.3
                    status: READY
                    createdOn: '2022-04-07T13:20:30.491Z'
                AdditionalPrivateNetwork:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                      - id: 603f3e995c18d515cdvte548
                        ips:
                          - 10.0.0.4
                          - 10.0.0.5
                    memberships:
                      - resourceId: 603f3e995c18d515cdvte548
                        resourceType: server
                        ips:
                          - 10.0.0.4
                          - 10.0.0.5
                    status: READY
                    createdOn: '2022-04-07T13:20:30.491Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Private Networks
      description: Update Private Network Details.
      summary: Update a Private Network.
      operationId: privateNetworksNetworkIdPut
      security:
        - OAuth2:
            - bmc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetworkModify'
            examples:
              PrivateNetworkDefaultUpdate:
                value:
                  name: My Default Backend Network
                  description: My Default Backend Network
                  locationDefault: true
              PrivateNetworkNonDefaultUpdate:
                value:
                  name: My Additional Backend Network
                  description: My Additional Backend Network
                  locationDefault: false
      responses:
        '200':
          description: Private Network successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
              examples:
                PrivateNetworkDefaultModified:
                  value:
                    id: 604724a5a807f2d3be8660c7
                    name: My Default Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: true
                    vlanId: 10
                    description: My Default Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                      - id: 603f3e995c18d515cda9c4f8
                        ips:
                          - 10.0.0.2
                          - 10.0.0.3
                    memberships:
                      - resourceId: 603f3e995c18d515cda9c4f8
                        resourceType: server
                        ips:
                          - 10.0.0.2
                          - 10.0.0.3
                    status: READY
                    createdOn: '2022-04-07T13:20:30.491Z'
                PrivateNetworkNonDefaultModified:
                  value:
                    id: 604724ac9ed2abd18e9f1cb6
                    name: My Additional Backend Network
                    type: PRIVATE
                    location: PHX
                    locationDefault: false
                    vlanId: 11
                    description: My Additional Backend Network
                    cidr: 10.0.0.0/24
                    servers:
                      - id: 603f3e995c18d515cdvte548
                        ips:
                          - 10.0.0.4
                          - 10.0.0.5
                    memberships:
                      - resourceId: 603f3e995c18d515cdvte548
                        resourceType: server
                        ips:
                          - 10.0.0.4
                          - 10.0.0.5
                    status: READY
                    createdOn: '2022-04-07T13:20:30.491Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Private Networks
      description: Delete Private Network.
      summary: Delete a Private Network.
      operationId: privateNetworksNetworkIdDelete
      security:
        - OAuth2:
            - bmc
      responses:
        '204':
          description: Private Network deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /public-networks:
    get:
      tags:
        - Public Networks
      description: List all Public Networks owned by account.
      summary: List Public Networks.
      operationId: publicNetworksGet
      security:
        - OAuth2:
            - bmc.read
      parameters:
        - in: query
          name: location
          required: false
          description: If present will filter the result by the given location of the Public Networks.
          schema:
            description: Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.
            type: string
          example: PHX
      responses:
        '200':
          description: List of all the Public Networks owned by account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicNetwork'
              example:
                - id: 60472f76bbadb4f36541d2fd
                  name: Initial public network
                  location: PHX
                  description: 'My first public network #1'
                  ipBlocks:
                    - id: 60473a6115e34466c9f8f083
                      cidr: 10.111.14.0/29
                      usedIpsCount: '3'
                    - id: 616e6ec6d66b406a45ab8797
                      cidr: 10.111.15.0/29
                      usedIpsCount: '1'
                    - id: 617d2d128bacbb05aca2caeb
                      cidr: 10.111.16.0/29
                      usedIpsCount: '0'
                    - id: 617d2da78bacbb05aca2caef
                      cidr: 10.111.17.0/29
                      usedIpsCount: '0'
                    - id: 618e5383a835704f8c59522d
                      cidr: 10.111.18.0/29
                      usedIpsCount: '0'
                    - id: 617d2f834dcf2869f8e4ef0b
                      cidr: 10.111.19.0/29
                      usedIpsCount: '0'
                    - id: 5f325c71b8a7ef1473e3c85b
                      cidr: 10.111.20.0/29
                      usedIpsCount: '0'
                    - id: 5ff5cc9bc1acf144d9106233
                      cidr: 10.111.21.0/29
                      usedIpsCount: '0'
                    - id: 610001e7da283e36d0a0df9f
                      cidr: 10.111.22.0/29
                      usedIpsCount: '0'
                    - id: 613b51c01f4b04615ba1d3be
                      cidr: 10.111.23.0/29
                      usedIpsCount: '0'
                  vlanId: 10
                  createdOn: '2022-04-05T13:50:30.491Z'
                  status: READY
                  memberships:
                    - resourceId: 6128d3754b478b76ee8b3cdd
                      resourceType: server
                      ips:
                        - 10.111.14.2
                        - 10.111.14.4
                        - 10.111.14.6
                    - resourceId: 5feae6b0b00bfb14eda82fc7
                      resourceType: server
                      ips:
                        - 10.111.15.3
                - id: 6123b97643046b5bffb1d7c3
                  name: My additional public network
                  location: PHX
                  description: 'My second public network #2'
                  ipBlocks: []
                  vlanId: 11
                  status: READY
                  createdOn: '2022-04-05T13:50:30.491Z'
                  memberships: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Public Networks
      description: Create a public network.
      summary: Create a public network.
      operationId: publicNetworksPost
      security:
        - OAuth2:
            - bmc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicNetworkCreate'
            examples:
              PublicNetworkCreationWithOnlyRequiredField:
                value:
                  name: Initial public network
                  location: PHX
              PublicNetworkCreationWithDualIpBlocks:
                value:
                  name: Initial public network
                  location: PHX
                  description: 'My first public network #1'
                  ipBlocks:
                    - id: 60473a6115e34466c9f8f083
                    - id: 60473a6115e34466c9f8f084
                  raEnabled: true
              PublicNetworkCreationWithAllParameters:
                value:
                  name: Initial public network
                  location: PHX
                  description: 'My first public network #1'
                  ipBlocks:
                    - id: 60473a6115e34466c9f8f083
                    - id: 616e6ec6d66b406a45ab8797
                    - id: 617d2d128bacbb05aca2caeb
                    - id: 617d2da78bacbb05aca2caef
                    - id: 618e5383a835704f8c59522d
                    - id: 617d2f834dcf2869f8e4ef0b
                    - id: 5f325c71b8a7ef1473e3c85b
                    - id: 5ff5cc9bc1acf144d9106233
                    - id: 610001e7da283e36d0a0df9f
                    - id: 613b51c01f4b04615ba1d3be
                    - id: 613b51c01f4b04615oe4j3es
                  vlanId: 20
                  raEnabled: false
      responses:
        '201':
          description: Network successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicNetwork'
              examples:
                PublicNetworkWithOnlyRequiredFields:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships: []
                PublicNetworkWithDualIpBlocks:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: 'My first public network #1'
                    ipBlocks:
                      - id: 60473a6115e34466c9f8f083
                        cidr: 10.111.14.0/29
                        usedIpsCount: '0'
                      - id: 60473a6115e34466c9f8f084
                        cidr: 2001:db8::/64
                        usedIpsCount: '0'
                    raEnabled: true
                    vlanId: 10
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships: []
                PublicNetworkWithAllParameters:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: 'My first public network #1'
                    ipBlocks:
                      - id: 60473a6115e34466c9f8f083
                        cidr: 10.111.14.0/29
                        usedIpsCount: '0'
                      - id: 616e6ec6d66b406a45ab8797
                        cidr: 10.111.15.0/29
                        usedIpsCount: '0'
                      - id: 617d2d128bacbb05aca2caeb
                        cidr: 10.111.16.0/29
                        usedIpsCount: '0'
                      - id: 617d2da78bacbb05aca2caef
                        cidr: 10.111.17.0/29
                        usedIpsCount: '0'
                      - id: 618e5383a835704f8c59522d
                        cidr: 10.111.18.0/29
                        usedIpsCount: '0'
                      - id: 617d2f834dcf2869f8e4ef0b
                        cidr: 10.111.19.0/29
                        usedIpsCount: '0'
                      - id: 5f325c71b8a7ef1473e3c85b
                        cidr: 10.111.20.0/29
                        usedIpsCount: '0'
                      - id: 5ff5cc9bc1acf144d9106233
                        cidr: 10.111.21.0/29
                        usedIpsCount: '0'
                      - id: 610001e7da283e36d0a0df9f
                        cidr: 10.111.22.0/29
                        usedIpsCount: '0'
                      - id: 613b51c01f4b04615ba1d3be
                        cidr: 10.111.23.0/29
                        usedIpsCount: '0'
                      - id: 613b51c01f4b04615oe4j3es
                        cidr: 2001:db8::/64
                        usedIpsCount: '0'
                    raEnabled: false
                    vlanId: 20
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /public-networks/{publicNetworkId}:
    parameters:
      - $ref: '#/components/parameters/publicNetworkIdPathParam'
    get:
      tags:
        - Public Networks
      description: Retrieve Public Network Details.
      summary: Get a Public Network.
      operationId: publicNetworksNetworkIdGet
      security:
        - OAuth2:
            - bmc.read
      responses:
        '200':
          description: Public Network Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicNetwork'
              examples:
                PublicNetworkWithOnlyRequiredFields:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships: []
                PublicNetworkOnlyWithoutIpBlocks:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: 'My first public network #1'
                    ipBlocks: []
                    vlanId: 10
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships: []
                PublicNetworkWithIpBlocks:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: 'My first public network #1'
                    ipBlocks:
                      - id: 60473a6115e34466c9f8f083
                        cidr: 10.111.14.0/29
                        usedIpsCount: '0'
                      - id: 616e6ec6d66b406a45ab8797
                        cidr: 10.111.15.0/29
                        usedIpsCount: '0'
                      - id: 617d2d128bacbb05aca2caeb
                        cidr: 10.111.16.0/29
                        usedIpsCount: '0'
                      - id: 617d2da78bacbb05aca2caef
                        cidr: 10.111.17.0/29
                        usedIpsCount: '0'
                      - id: 618e5383a835704f8c59522d
                        cidr: 10.111.18.0/29
                        usedIpsCount: '0'
                      - id: 617d2f834dcf2869f8e4ef0b
                        cidr: 10.111.19.0/29
                        usedIpsCount: '0'
                      - id: 5f325c71b8a7ef1473e3c85b
                        cidr: 10.111.20.0/29
                        usedIpsCount: '0'
                      - id: 5ff5cc9bc1acf144d9106233
                        cidr: 10.111.21.0/29
                        usedIpsCount: '0'
                      - id: 610001e7da283e36d0a0df9f
                        cidr: 10.111.22.0/29
                        usedIpsCount: '0'
                      - id: 613b51c01f4b04615ba1d3be
                        cidr: 10.111.23.0/29
                        usedIpsCount: '0'
                    vlanId: 10
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships: []
                PublicNetworkWithIpBlocksAndServers:
                  value:
                    id: 60472f76bbadb4f36541d2fd
                    name: Initial public network
                    location: PHX
                    description: 'My first public network #1'
                    ipBlocks:
                      - id: 60473a6115e34466c9f8f083
                        cidr: 10.111.14.0/29
                        usedIpsCount: '4'
                      - id: 616e6ec6d66b406a45ab8797
                        cidr: 10.111.15.0/29
                        usedIpsCount: '0'
                      - id: 617d2d128bacbb05aca2caeb
                        cidr: 10.111.16.0/29
                        usedIpsCount: '0'
                      - id: 617d2da78bacbb05aca2caef
                        cidr: 10.111.17.0/29
                        usedIpsCount: '0'
                      - id: 618e5383a835704f8c59522d
                        cidr: 10.111.18.0/29
                        usedIpsCount: '0'
                      - id: 617d2f834dcf2869f8e4ef0b
                        cidr: 10.111.19.0/29
                        usedIpsCount: '0'
                      - id: 5f325c71b8a7ef1473e3c85b
                        cidr: 10.111.20.0/29
                        usedIpsCount: '0'
                      - id: 5ff5cc9bc1acf144d9106233
                        cidr: 10.111.21.0/29
                        usedIpsCount: '0'
                      - id: 610001e7da283e36d0a0df9f
                        cidr: 10.111.22.0/29
                        usedIpsCount: '0'
                      - id: 613b51c01f4b04615ba1d3be
                        cidr: 10.111.23.0/29
                        usedIpsCount: '0'
                    vlanId: 10
                    status: READY
                    createdOn: '2022-04-05T13:50:30.491Z'
                    memberships:
                      - resourceId: 6128d3754b478b76ee8b3cdd
                        resourceType: server
                        ips:
                          - 10.111.14.6
                      - resourceId: 5feae6b0b00bfb14eda82fc7
                        resourceType: server
                        ips:
                          - 10.111.14.2
                          - 10.111.14.3
                          - 10.111.14.4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Public Networks
      description: Update Public Network's Details.
      summary: Update Public Network's Details.
      operationId: publicNetworksNetworkIdPatch
      security:
        - OAuth2:
            - bmc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicNetworkModify'
            examples:
              PublicNetworkModify:
                value:
                  name: My public network
                  description: The new description of my public network
                  raEnabled: false
              PublicNetworkModifyWithNameOnly:
                value:
                  name: My public network
              PublicNetworkModifyWithDescriptionOnly:
                value:
                  description: The new description of my public network
              PublicNetworkModifyWithRouterAdvertisementOnly:
                value:
                  raEnabled: false
      responses:
        '200':
          description: Network successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicNetwork'
              example:
                id: 60472f76bbadb4f36541d2fd
                name: My public network
                location: PHX
                description: The new description of my public network
                ipBlocks:
                  - id: 60473a6115e34466c9f8f083
                    cidr: 10.111.14.0/29
                    usedIpsCount: '0'
                vlanId: 10
                status: READY
                createdOn: '2022-04-05T13:50:30.491Z'
                memberships: []
        '202':
          description: Network update has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicNetwork'
              example:
                id: 60472f76bbadb4f36541d2ff
                name: My public network
                location: PHX
                description: The description of my public network
                ipBlocks:
                  - id: 60473a6115e34466c9f8f084
                    cidr: 2001:db8::/64
                    usedIpsCount: '1'
                raEnabled: true
                vlanId: 11
                status: BUSY
                createdOn: '2022-04-05T13:50:30.491Z'
                memberships:
                  - resourceId: 6128d3754b478b76ee8b3cdd
                    resourceType: server
                    ips:
                      - 2001:db8::1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Public Networks
      description: Delete Public Network. The request is accepted only if no resources are members of this network. The IP Block(s) will be freed and can be re-used in the future.
      summary: Delete a Public Network.
      operationId: publicNetworksNetworkIdDelete
      security:
        - OAuth2:
            - bmc
      responses:
        '204':
          description: The Public Network has been deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /public-networks/{publicNetworkId}/ip-blocks:
    parameters:
      - $ref: '#/components/parameters/publicNetworkIdPathParam'
    post:
      tags:
        - Public Networks
      description: Adds an IP block to this public network.
      summary: Adds an IP block to this public network.
      operationId: publicNetworksNetworkIdIpBlocksPost
      security:
        - OAuth2:
            - bmc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicNetworkIpBlockCreate'
            example:
              id: 60473a6115e34466c9f8f083
      responses:
        '202':
          description: The specified IP block is being added to the public network.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicNetworkIpBlock'
              example:
                id: 60473a6115e34466c9f8f083
                cidr: 10.111.14.0/29
                usedIpsCount: '3'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /public-networks/{publicNetworkId}/ip-blocks/{ipBlockId}:
    parameters:
      - $ref: '#/components/parameters/publicNetworkIdPathParam'
      - $ref: '#/components/parameters/ipBlockIdPathParam'
    delete:
      tags:
        - Public Networks
      description: Removes the IP Block from the Public Network.<br> Please ensure that no resource members within this network have any IPs assigned from the IP Block being removed.<br> Defining `force` query parameter allows resource assigned IP block to be removed anyway.  As a result, traffic addressed to any IP within the block will not be routed to this network anymore.
      summary: Removes the IP Block from the Public Network.
      operationId: publicNetworksNetworkIdIpBlocksIpBlockIdDelete
      security:
        - OAuth2:
            - bmc
      parameters:
        - $ref: '#/components/parameters/forceQueryParam'
      responses:
        '202':
          description: The specified IP block is being removed from the Public Network.
          content:
            application/json:
              schema:
                type: string
                description: The specified IP block is being removed from the Public Network.
                example: The specified IP block is being removed from the Public Network.
              example: The specified IP block is being removed from the Public Network.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /bgp-peer-groups:
    get:
      tags:
        - BGP Peer Groups
      description: List all BGP Peer Groups owned by account.
      summary: List BGP Peer Groups.
      operationId: bgpPeerGroupsGet
      security:
        - OAuth2:
            - bmc.read
      parameters:
        - in: query
          name: location
          required: false
          description: If present will filter the result by the given location of the BGP Peer Group.
          schema:
            description: Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.
            type: string
          example: PHX
      responses:
        '200':
          description: List all BGP Peer Groups owned by account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BgpPeerGroup'
              example:
                - id: 60473c2509268bc77fd06d29
                  status: READY
                  location: ASH
                  ipPrefixes:
                    - ipAllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      ipVersion: V4
                      status: READY
                    - ipAllocationId: 6047127fed34ecc3ba8402e2
                      cidr: 2607:ff00:313:80c0::/58
                      ipVersion: V6
                      status: READY
                  ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                      cidr: 10.111.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                  targetAsnDetails:
                    asn: 65401
                    isBringYourOwn: false
                    verificationStatus: VERIFIED
                  activeAsnDetails:
                    asn: 65401
                    isBringYourOwn: false
                    verificationStatus: VERIFIED
                  password: E!73423ghhjfge45
                  advertisedRoutes: NONE
                  rpkiRoaOriginAsn: 19437
                  eBgpMultiHop: 7
                  peeringLoopbacksV4:
                    - 169.254.247.0
                    - 169.254.247.1
                  peeringLoopbacksV6:
                    - fd00:0:0:1005::1
                    - fd00:0:0:1005::2
                  keepAliveTimerSeconds: 10
                  holdTimerSeconds: 30
                  createdOn: '2024-03-01T10:30:00Z'
                  lastUpdatedOn: '2024-03-01T14:30:00Z'
                - id: 60473c2509268bc77fd06d30
                  status: READY
                  location: PHX
                  ipPrefixes:
                    - ipAllocationId: 6047127fed34ecc3ba8402d3
                      cidr: 10.121.14.40/29
                      ipVersion: V4
                      status: READY
                  ipv4Prefixes:
                    - ipv4AllocationId: 6047127fed34ecc3ba8402d3
                      cidr: 10.121.14.40/29
                      status: READY
                      isBringYourOwnIp: false
                      inUse: false
                  targetAsnDetails:
                    asn: 65401
                    isBringYourOwn: false
                    verificationStatus: VERIFIED
                  activeAsnDetails:
                    asn: 65401
                    isBringYourOwn: false
                    verificationStatus: VERIFIED
                  password: E!2187asd324aio1
                  advertisedRoutes: DEFAULT
                  rpkiRoaOriginAsn: 20454
                  eBgpMultiHop: 7
                  peeringLoopbacksV4:
                    - 170.254.247.0
                    - 170.254.247.1
                  peeringLoopbacksV6:
                    - fd00:0:0:1005::1
                    - fd00:0:0:1005::2
                  keepAliveTimerSeconds: 10
                  holdTimerSeconds: 30
                  createdOn: '2024-03-01T10:30:00Z'
                  lastUpdatedOn: '2024-03-01T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - BGP Peer Groups
      description: Create a BGP Peer Group.
      summary: Create a BGP Peer Group.
      operationId: bgpPeerGroupsPost
      security:
        - OAuth2:
            - bmc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgpPeerGroupCreate'
            examples:
              bgpPeerGroupWithDefaultAndRequiredParameters:
                value:
                  location: PHX
                  asn: 65401
                  advertisedRoutes: NONE
              bgpPeerGroupWithAllCustomParameters:
                value:
                  location: ASH
                  asn: 65402
                  password: E!73423ghhjfge45
                  advertisedRoutes: DEFAULT
      responses:
        '202':
          description: Request to create BGP Peer Group is accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
              examples:
                bgpPeerGroupWithRequiredParametersResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: PHX
                    ipPrefixes:
                      - ipAllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        ipVersion: V4
                        status: READY
                      - ipAllocationId: 6047127fed34ecc3ba8402e2
                        cidr: 2607:ff00:313:80c0::/58
                        ipVersion: V6
                        status: READY
                    ipv4Prefixes:
                      - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        status: READY
                        isBringYourOwnIp: false
                        inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge45
                    advertisedRoutes: NONE
                    rpkiRoaOriginAsn: 20454
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                      - 169.254.247.0
                      - 169.254.247.1
                    peeringLoopbacksV6:
                      - fd00:0:0:1005::1
                      - fd00:0:0:1005::2
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    lastUpdatedOn: '2024-03-01T14:30:00Z'
                bgpPeerGroupWithAllParametersResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipPrefixes:
                      - ipAllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        ipVersion: V4
                        status: READY
                      - ipAllocationId: 6047127fed34ecc3ba8402e2
                        cidr: 2607:ff00:313:80c0::/58
                        ipVersion: V6
                        status: READY
                    ipv4Prefixes:
                      - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        status: READY
                        isBringYourOwnIp: false
                        inUse: false
                    targetAsnDetails:
                      asn: 65402
                      isBringYourOwn: true
                      verificationStatus: PENDING_VERIFICATION
                    password: E!73423ghhjfge45
                    advertisedRoutes: DEFAULT
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                      - 169.254.247.0
                      - 169.254.247.1
                    peeringLoopbacksV6:
                      - fd00:0:0:1005::1
                      - fd00:0:0:1005::2
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    lastUpdatedOn: '2024-03-01T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          description: Creation of BGP Peer Group in location is presently not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /bgp-peer-groups/{bgpPeerGroupId}:
    parameters:
      - $ref: '#/components/parameters/bgpPeerGroupIdPathParam'
    get:
      tags:
        - BGP Peer Groups
      description: Retrieves BGP Peer Group by ID.
      summary: Get a BGP Peer Group.
      operationId: bgpPeerGroupsPeerGroupIdGet
      security:
        - OAuth2:
            - bmc.read
      responses:
        '200':
          description: BGP Peer Group by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
              examples:
                bgpPeerGroupResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: READY
                    location: ASH
                    ipPrefixes:
                      - ipAllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        ipVersion: V4
                        status: READY
                      - ipAllocationId: 6047127fed34ecc3ba8402e2
                        cidr: 2607:ff00:313:80c0::/58
                        ipVersion: V6
                        status: READY
                    ipv4Prefixes:
                      - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        status: READY
                        isBringYourOwnIp: false
                        inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge45
                    advertisedRoutes: NONE
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                      - 169.254.247.0
                      - 169.254.247.1
                    peeringLoopbacksV6:
                      - fd00:0:0:1005::1
                      - fd00:0:0:1005::2
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: '2024-03-01T10:30:00Z'
                    lastUpdatedOn: '2024-03-01T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - BGP Peer Groups
      description: Modifies BGP Peer Group by ID.
      summary: Modify a BGP Peer Group.
      operationId: bgpPeerGroupsPeerGroupIdPatch
      security:
        - OAuth2:
            - bmc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgpPeerGroupPatch'
            examples:
              modifyBgpPeerGroup:
                value:
                  password: E!73423ghhjfge46
                  advertisedRoutes: DEFAULT
              modifyBgpPeerGroupAsn:
                value:
                  asn: 65402
                  password: E!73423ghhjfge46
                  advertisedRoutes: DEFAULT
      responses:
        '202':
          description: Request to modify BGP Peer Group is accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
              examples:
                modifyBgpPeerGroupResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipPrefixes:
                      - ipAllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        ipVersion: V4
                        status: READY
                      - ipAllocationId: 6047127fed34ecc3ba8402e2
                        cidr: 2607:ff00:313:80c0::/58
                        ipVersion: V6
                        status: READY
                    ipv4Prefixes:
                      - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        status: READY
                        isBringYourOwnIp: false
                        inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge46
                    advertisedRoutes: DEFAULT
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                      - 169.254.247.0
                      - 169.254.247.1
                    peeringLoopbacksV6:
                      - fd00:0:0:1005::1
                      - fd00:0:0:1005::2
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: '2024-03-01T10:30:00Z'
                    lastUpdatedOn: '2024-03-01T14:30:00Z'
                modifyBgpPeerGroupAsnResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipPrefixes:
                      - ipAllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        ipVersion: V4
                        status: READY
                      - ipAllocationId: 6047127fed34ecc3ba8402e2
                        cidr: 2607:ff00:313:80c0::/58
                        ipVersion: V6
                        status: READY
                    ipv4Prefixes:
                      - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        status: READY
                        isBringYourOwnIp: false
                        inUse: false
                    targetAsnDetails:
                      asn: 65402
                      isBringYourOwn: true
                      verificationStatus: PENDING_VERIFICATION
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge46
                    advertisedRoutes: DEFAULT
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                      - 169.254.247.0
                      - 169.254.247.1
                    peeringLoopbacksV6:
                      - fd00:0:0:1005::1
                      - fd00:0:0:1005::2
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: '2024-03-01T10:30:00Z'
                    lastUpdatedOn: '2024-03-01T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - BGP Peer Groups
      description: Deletes BGP Peer Group by ID.
      summary: Delete a BGP Peer Group.
      operationId: bgpPeerGroupsPeerGroupIdDelete
      security:
        - OAuth2:
            - bmc
      responses:
        '202':
          description: Request to delete BGP Peer Group is accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerGroup'
              examples:
                bgpPeerGroupResponse:
                  value:
                    id: 60473c2509268bc77fd06d29
                    status: PENDING
                    location: ASH
                    ipPrefixes:
                      - ipAllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        ipVersion: V4
                        status: READY
                      - ipAllocationId: 6047127fed34ecc3ba8402e2
                        cidr: 2607:ff00:313:80c0::/58
                        ipVersion: V6
                        status: READY
                    ipv4Prefixes:
                      - ipv4AllocationId: 6047127fed34ecc3ba8402d2
                        cidr: 10.111.14.40/29
                        status: READY
                        isBringYourOwnIp: false
                        inUse: false
                    targetAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    activeAsnDetails:
                      asn: 65401
                      isBringYourOwn: false
                      verificationStatus: VERIFIED
                    password: E!73423ghhjfge45
                    advertisedRoutes: NONE
                    rpkiRoaOriginAsn: 19437
                    eBgpMultiHop: 7
                    peeringLoopbacksV4:
                      - 169.254.247.0
                      - 169.254.247.1
                    peeringLoopbacksV6:
                      - fd00:0:0:1005::1
                      - fd00:0:0:1005::2
                    keepAliveTimerSeconds: 10
                    holdTimerSeconds: 30
                    createdOn: '2024-03-01T10:30:00Z'
                    lastUpdatedOn: '2024-03-01T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.phoenixnap.com/auth/realms/BMC/protocol/openid-connect/token
          scopes:
            bmc: Grants full access to bmc-api.
            bmc.read: Grants read only access to bmc-api.
  schemas:
    PrivateNetworkServer:
      type: object
      description: Server details linked to the Private Network.
      required:
        - id
        - ips
      properties:
        id:
          description: The server identifier.
          type: string
          example: 603f3e995c18d515cda9c4f8
        ips:
          type: array
          description: List of private IPs associated to the server.
          items:
            type: string
            example: 10.0.0.2
          example:
            - 10.0.0.2
            - 10.0.0.3
    NetworkMembership:
      type: object
      description: Resource details linked to the Network.
      required:
        - resourceId
        - resourceType
        - ips
      properties:
        resourceId:
          description: The resource identifier.
          type: string
          example: 603f3e995c18d515cda9c4f8
        resourceType:
          description: 'The resource''s type. Can have one of the following values: `server`, `storage` or `virtual`.'
          type: string
          example: server
        ips:
          type: array
          description: List of IPs associated to the resource.
          items:
            type: string
            example: 10.111.14.104
          example:
            - 10.111.14.104
            - 10.111.14.105
            - 10.111.14.106
    PrivateNetwork:
      type: object
      description: Private Network details.
      required:
        - id
        - name
        - vlanId
        - type
        - location
        - locationDefault
        - servers
        - memberships
        - status
        - createdOn
      properties:
        id:
          description: The private network identifier.
          type: string
          example: 604721852cf65253d151528b
        name:
          description: The friendly name of this private network.
          type: string
          minLength: 1
          maxLength: 100
          example: Sample Network
        description:
          description: The description of this private network.
          type: string
          maxLength: 250
          example: Further details on the network
        vlanId:
          description: The VLAN of this private network.
          type: integer
          example: 10
        type:
          description: The type of the private network.
          type: string
          example: PRIVATE
        location:
          description: The location of this private network.
          type: string
          example: PHX
        locationDefault:
          description: Identifies network as the default private network for the specified location.
          type: boolean
          example: true
        cidr:
          description: IP range associated with this private network in CIDR notation.
          type: string
          example: 10.0.0.0/24
        servers:
          type: array
          items:
            $ref: '#/components/schemas/PrivateNetworkServer'
          deprecated: true
        memberships:
          description: A list of resources that are members of this private network.
          type: array
          items:
            $ref: '#/components/schemas/NetworkMembership'
        status:
          description: 'The status of the private network. Can have one of the following values: `BUSY`, `READY`, `DELETING` or `ERROR`.'
          type: string
          example: READY
        createdOn:
          description: Date and time when this private network was created.
          type: string
          format: date-time
          example: '2022-04-07T13:30:30.491Z'
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          readOnly: true
          description: The description detailing the cause of the error code.
        validationErrors:
          type: array
          items:
            type: string
          readOnly: true
          description: Validation errors, if any.
    PrivateNetworkCreate:
      type: object
      description: Details of Private Network to be created.
      required:
        - name
        - location
      properties:
        name:
          description: The friendly name of this private network. This name should be unique.
          type: string
          minLength: 1
          maxLength: 100
          example: Sample Network
          pattern: ^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$
        description:
          description: The description of this private network.
          type: string
          maxLength: 250
          example: Further details on the network
        location:
          description: The location of this private network. Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.
          type: string
          example: PHX
        locationDefault:
          description: Identifies network as the default private network for the specified location.
          type: boolean
          default: false
          example: true
        vlanId:
          description: The VLAN that will be assigned to this network.
          type: integer
          minimum: 2
          maximum: 4094
          example: 10
        cidr:
          description: IP range associated with this private network in CIDR notation.<br> Setting the `force` query parameter to `true` allows you to skip assigning a specific IP range to network.
          type: string
          example: 10.0.0.0/24
    PrivateNetworkModify:
      type: object
      description: Object including details to be modified in the Private Network.
      required:
        - name
        - locationDefault
      properties:
        name:
          type: string
          description: A friendly name given to the private network. This name should be unique.
          minLength: 1
          maxLength: 100
          example: Sample network
          pattern: ^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$
        description:
          description: A description of this private network
          type: string
          maxLength: 250
          example: Further details on the network.
        locationDefault:
          description: Identifies network as the default private network for the specified location.
          type: boolean
          example: true
    PublicNetworkIpBlock:
      type: object
      description: The assigned IP block to the Public Network.
      required:
        - id
        - cidr
        - usedIpsCount
      properties:
        id:
          description: The IP Block identifier.
          type: string
          example: 60473a6115e34466c9f8f083
        cidr:
          description: The CIDR notation of the IP block.
          type: string
          example: 10.111.14.0/29
        usedIpsCount:
          description: The number of IPs used in the IP block.
          type: string
          example: '3'
    PublicNetwork:
      type: object
      description: Public Network details.
      required:
        - id
        - name
        - location
        - ipBlocks
        - vlanId
        - memberships
        - status
        - createdOn
      properties:
        id:
          description: The public network identifier.
          type: string
          example: 604721852cf65253d151528b
        vlanId:
          description: The VLAN of this public network.
          type: integer
          example: 10
        memberships:
          description: A list of resources that are members of this public network.
          type: array
          items:
            $ref: '#/components/schemas/NetworkMembership'
        name:
          description: The friendly name of this public network.
          type: string
          minLength: 1
          maxLength: 100
          example: Sample Network
        location:
          description: The location of this public network. Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.
          type: string
          example: PHX
        description:
          description: The description of this public network.
          type: string
          maxLength: 250
          example: Further details on the network.
        status:
          description: 'The status of the public network. Can have one of the following values: `BUSY`, `READY`, `DELETING` or `ERROR`.'
          type: string
          example: READY
        createdOn:
          description: Date and time when this public network was created.
          type: string
          format: date-time
          example: '2022-04-05T13:50:30.491Z'
        ipBlocks:
          description: A list of IP Blocks that are associated with this public network.
          type: array
          items:
            $ref: '#/components/schemas/PublicNetworkIpBlock'
        raEnabled:
          description: Boolean indicating whether Router Advertisement is enabled. Only applicable for Network with IPv6 Blocks.
          type: boolean
          example: true
    PublicNetworkIpBlockCreate:
      type: object
      description: Details of IP block to be assigned to Public Network.
      required:
        - id
      properties:
        id:
          description: The IP Block identifier.
          type: string
          example: 60473a6115e34466c9f8f083
    PublicNetworkCreate:
      type: object
      description: Details of Public Network to be created.
      required:
        - name
        - location
      properties:
        name:
          description: The friendly name of this public network. This name should be unique.
          type: string
          minLength: 1
          maxLength: 100
          example: Sample Network
          pattern: ^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$
        description:
          description: The description of this public network.
          type: string
          maxLength: 250
          example: Further details on the network.
        location:
          description: The location of this public network. Supported values are `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.
          type: string
          example: PHX
        vlanId:
          description: The VLAN that will be assigned to this network.
          type: integer
          minimum: 2
          maximum: 4094
          example: 10
        ipBlocks:
          description: A list of IP Blocks that will be associated with this public network. Supported maximum of 10 IPv4 Blocks and 1 IPv6 Block.
          type: array
          maxItems: 11
          items:
            $ref: '#/components/schemas/PublicNetworkIpBlockCreate'
        raEnabled:
          description: Boolean indicating whether Router Advertisement is enabled. Only applicable for Network with IPv6 Blocks.
          type: boolean
          example: true
    PublicNetworkModify:
      type: object
      description: Public Network Modifiable Details.
      properties:
        name:
          description: A friendly name given to the network. This name should be unique.
          type: string
          minLength: 1
          maxLength: 100
          example: Sample Network
          pattern: ^(?=.*[a-zA-Z])([a-zA-Z0-9(). -])+$
        description:
          description: The description of this public network
          type: string
          maxLength: 250
          example: Further details on the network.
        raEnabled:
          description: Boolean indicating whether Router Advertisement is enabled. Only applicable for Network with IPv6 Blocks.
          type: boolean
          example: true
    BgpIPv4Prefix:
      type: object
      description: The BGP IPv4 Prefix. Deprecated in favour of generic BgpIpPrefix.
      deprecated: true
      required:
        - ipv4AllocationId
        - cidr
        - status
        - isBringYourOwnIp
        - inUse
      properties:
        ipv4AllocationId:
          description: IPv4 allocation ID.
          type: string
          example: 6047127fed34ecc3ba8402d2
        cidr:
          description: The IP block in CIDR format.
          type: string
          pattern: ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[1-9]|[1-2]\d|3[0-2])$
          example: 10.111.14.40/29
        status:
          description: 'The BGP IPv4 Prefix status. Can have one of the following values: `PENDING`, `BUSY`, `READY`, `ERROR` and `DELETING`.'
          type: string
          example: READY
        isBringYourOwnIp:
          description: Identifies IP as a `bring your own` IP block.
          type: boolean
          example: false
        inUse:
          description: The Boolean value of the BGP IPv4 Prefix is in use.
          type: boolean
          example: false
    BgpIpPrefix:
      type: object
      description: The BGP IP Prefix.
      required:
        - ipAllocationId
        - cidr
        - ipVersion
        - status
      properties:
        ipAllocationId:
          description: IP allocation ID.
          type: string
          example: 6047127fed34ecc3ba8402d2
        cidr:
          description: The IP block in CIDR format, dependent on IP version.
          type: string
          example: 10.111.14.40/29
        ipVersion:
          description: The IP block version.
          type: string
          example: V4
        status:
          description: 'The BGP IP Prefix status. Can have one of the following values: `PENDING`, `BUSY`, `READY`, `ERROR` and `DELETING`.'
          type: string
          example: READY
    AsnDetails:
      type: object
      description: BGP Peer Group ASN details.
      readOnly: true
      required:
        - asn
        - isBringYourOwn
        - verificationStatus
      properties:
        asn:
          description: The BGP Peer Group ASN.
          type: integer
          format: int64
          example: 65401
        isBringYourOwn:
          description: True if the BGP Peer Group ASN is a `bring your own` ASN.
          type: boolean
          example: false
        verificationStatus:
          description: 'The BGP Peer Group ASN verification status. Can have one of the following values: `PENDING_VERIFICATION`, `FAILED_VERIFICATION` and `VERIFIED`.'
          type: string
          example: VERIFIED
        verificationReason:
          description: The BGP Peer Group ASN verification reason for the respective status.
          type: string
          example: Bring Your Own ASN verification succeeded all checks.
    BgpPeerGroup:
      type: object
      description: The Border Gateway Protocol (BGP) Peer Group.
      readOnly: true
      required:
        - id
        - status
        - location
        - ipPrefixes
        - ipv4Prefixes
        - targetAsnDetails
        - password
        - advertisedRoutes
        - rpkiRoaOriginAsn
        - eBgpMultiHop
        - peeringLoopbacksV4
        - peeringLoopbacksV6
        - keepAliveTimerSeconds
        - holdTimerSeconds
      properties:
        id:
          description: The unique identifier of the BGP Peer Group.
          type: string
          example: 60473c2509268bc77fd06d29
        status:
          description: 'The BGP Peer Group status. Can have one of the following values: `PENDING`, `ON_HOLD`, `BUSY`, `READY`, `ERROR`, `PENDING_DELETION` and `DELETING`.'
          type: string
          example: READY
        location:
          description: 'The BGP Peer Group location. Can have one of the following values: `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.'
          type: string
          example: ASH
        ipv4Prefixes:
          description: The List of the BGP Peer Group IPv4 prefixes. Deprecated in favour of generic ipPrefixes.
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/BgpIPv4Prefix'
        ipPrefixes:
          description: The List of the BGP Peer Group IP prefixes.
          type: array
          items:
            $ref: '#/components/schemas/BgpIpPrefix'
        targetAsnDetails:
          $ref: '#/components/schemas/AsnDetails'
        activeAsnDetails:
          $ref: '#/components/schemas/AsnDetails'
        password:
          description: The BGP Peer Group password.
          type: string
          minLength: 8
          maxLength: 32
          pattern: ^[a-zA-Z0-9!@#$%^&*()\-|\[\]{}=;:<>,.]+$
          example: E!73423ghhjfge45
        advertisedRoutes:
          description: 'The Advertised routes for the BGP Peer Group. Can have one of the following values: `DEFAULT` and `NONE`.'
          type: string
          example: DEFAULT
        rpkiRoaOriginAsn:
          description: The RPKI ROA Origin ASN of the BGP Peer Group based on location.
          type: integer
          format: int64
          example: 20454
        eBgpMultiHop:
          description: The eBGP Multi-hop of the BGP Peer Group.
          type: integer
          example: 7
        peeringLoopbacksV4:
          description: The IPv4 Peering Loopback addresses of the BGP Peer Group. Valid IP formats are IPv4 addresses.
          type: array
          items:
            type: string
            pattern: ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.)){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
            example: 169.254.247.1
          example:
            - 169.254.247.0
            - 169.254.247.1
        peeringLoopbacksV6:
          description: The IPv6 Peering Loopback addresses of the BGP Peer Group. Valid IP formats are IPv6 addresses.
          type: array
          items:
            type: string
            example: fd00:0:0:1005::2
          example:
            - fd00:0:0:1005::1
            - fd00:0:0:1005::2
        keepAliveTimerSeconds:
          description: The Keep Alive Timer in seconds of the BGP Peer Group.
          type: integer
          example: 10
        holdTimerSeconds:
          description: The Hold Timer in seconds of the BGP Peer Group.
          type: integer
          example: 30
        createdOn:
          description: Date and time of creation.
          type: string
          format: data-time
          example: '2024-03-01T10:30:00Z'
        lastUpdatedOn:
          description: Date and time of last update.
          type: string
          format: data-time
          example: '2024-03-01T14:30:00Z'
    BgpPeerGroupCreate:
      type: object
      description: Create a BGP Peer Group.
      required:
        - location
        - asn
        - advertisedRoutes
      properties:
        location:
          description: 'The BGP Peer Group location. Can have one of the following values: `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` and `AUS`.'
          type: string
          example: ASH
        asn:
          description: The BGP Peer Group ASN.
          type: integer
          format: int64
          default: 65401
          example: 65401
        password:
          description: The BGP Peer Group password.
          minLength: 8
          maxLength: 32
          pattern: ^[a-zA-Z0-9!@#$%^&*()\-|\[\]{}=;:<>,.]+$
          type: string
          example: E!73423ghhjfge45
        advertisedRoutes:
          description: 'The Advertised routes for the BGP Peer Group. Can have one of the following values: `DEFAULT` and `NONE`.'
          type: string
          default: NONE
          example: DEFAULT
    BgpPeerGroupPatch:
      type: object
      description: Update a BGP Peer Group.
      properties:
        asn:
          description: The BGP Peer Group ASN.
          type: integer
          format: int64
          example: 65401
        password:
          description: The BGP Peer Group password.
          minLength: 8
          maxLength: 32
          pattern: ^[a-zA-Z0-9!@#$%^&*()\-|\[\]{}=;:<>,.]+$
          type: string
          example: E!73423ghijfge45
        advertisedRoutes:
          description: 'The Advertised routes for the BGP Peer Group. Can have one of the following values: `DEFAULT` and `NONE`.'
          type: string
          example: DEFAULT
  responses:
    BadRequest:
      description: The request failed due to wrong data. Please check the provided parameters and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The request failed due to invalid credentials. Please check the provided credentials and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The request failed since this resource cannot be accessed by the provided credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: The server encountered an unexpected condition that prevented it from fulfilling the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: The resource is in an incompatible state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    forceQueryParam:
      name: force
      in: query
      description: Query parameter controlling advanced features availability. Currently applicable for networking. It is advised to use with caution since it might lead to unhealthy setups.
      required: false
      schema:
        type: boolean
        default: false
      example: true
    privateNetworkIdPathParam:
      in: path
      name: privateNetworkId
      required: true
      schema:
        type: string
      description: The private network identifier.
      example: 603f3b2cfcaf050643b89a4b
    publicNetworkIdPathParam:
      in: path
      name: publicNetworkId
      required: true
      schema:
        type: string
      description: The Public Network identifier.
      example: 603f3b2cfcaf050643b89a4b
    ipBlockIdPathParam:
      in: path
      name: ipBlockId
      required: true
      schema:
        type: string
      description: The IP Block identifier.
      example: 6047127fed34ecc3ba8402d2
    bgpPeerGroupIdPathParam:
      in: path
      name: bgpPeerGroupId
      required: true
      schema:
        type: string
      description: The BGP peer group ID.
      example: 603f3b2cfcaf050643b89a4b
