openapi: 3.0.2
info:
  contact:
    email: support@phoenixnap.com
    name: PhoenixNAP Team
    url: https://phoenixnap.com/
  description: |
    Public IP blocks are a set of contiguous IPs that allow you to access your servers or networks from the internet.
    Use the IP Addresses API to request and delete IP blocks.<br>
    <br>
    <span class="pnap-api-knowledge-base-link">
    Knowledge base articles to help you can be found
    <a href='https://phoenixnap.com/kb/public-ip-management#bmc-public-ip-allocations-api' target='_blank'>here</a>
    </span><br>
    <br>
    <b>All URLs are relative to (https://api.phoenixnap.com/ips/v1/)</b>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://phoenixnap.com/infrastructure-solutions/legal-it/privacy-shield-compliant-privacy-policy
  title: IP Addresses API
  version: "1.0"
servers:
- url: https://api.phoenixnap.com/ips/v1
security:
- OAuth2:
  - bmc
  - bmc.read
tags:
- description: Public IP Block operations.
  name: IP Blocks
paths:
  /ip-blocks:
    get:
      description: List all IP Blocks.
      operationId: ipBlocksGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IpBlock'
                type: array
          description: IP Blocks list.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: List IP Blocks.
      tags:
      - IP Blocks
    post:
      description: Request an IP Block. An IP Block is a set of contiguous IPs that
        can be assigned to other resources such as servers.
      operationId: ipBlocksPost
      requestBody:
        content:
          application/json:
            example:
              cidrBlockSize: /28
              location: PHX
            schema:
              $ref: '#/components/schemas/IpBlockCreate'
      responses:
        "201":
          content:
            application/json:
              example:
                id: 6047127fed34ecc3ba8402d2
                cidr: 1.1.1.0/28
                location: PHX
                cidrBlockSize: /28
                status: unassigned
              schema:
                $ref: '#/components/schemas/IpBlock'
          description: IP Block created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to wrong data. Please check the provided
            parameters and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No server available of type server.type.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Create an IP Block.
      tags:
      - IP Blocks
  /ip-blocks/{ipBlockId}:
    delete:
      description: Delete an IP Block. An IP Block can only be deleted if not assigned
        to any resource.
      operationId: ipBlocksIpBlockIdDelete
      parameters:
      - description: The IP Block identifier.
        example: 6047127fed34ecc3ba8402d2
        explode: false
        in: path
        name: ipBlockId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteIpBlockResult'
          description: IP Block deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc
      summary: Delete IP Block.
      tags:
      - IP Blocks
    get:
      description: Get IP Block.
      operationId: ipBlocksIpBlockIdGet
      parameters:
      - description: The IP Block identifier.
        example: 6047127fed34ecc3ba8402d2
        explode: false
        in: path
        name: ipBlockId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpBlock'
          description: Specific IP Block details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed due to invalid credentials. Please check
            the provided credentials and try again.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed since this resource cannot be accessed by
            the provided credentials.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - OAuth2:
        - bmc.read
      summary: Get IP Block.
      tags:
      - IP Blocks
components:
  parameters:
    ipBlockIdPathParam:
      description: The IP Block identifier.
      example: 6047127fed34ecc3ba8402d2
      explode: false
      in: path
      name: ipBlockId
      required: true
      schema:
        type: string
      style: simple
  responses:
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed due to invalid credentials. Please check the
        provided credentials and try again.
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed since this resource cannot be accessed by the
        provided credentials.
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The server encountered an unexpected condition that prevented it
        from fulfilling the request.
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request failed due to wrong data. Please check the provided
        parameters and try again.
    NotAccepted:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: No server available of type server.type.
  schemas:
    IpBlockCreate:
      description: IP Block Request.
      example:
        location: PHX
        cidrBlockSize: /30
      properties:
        location:
          description: IP Block location ID. Currently this field should be set to
            `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` or `AUS`.
          example: PHX
          type: string
        cidrBlockSize:
          description: CIDR IP Block Size. Currently this field should be set to either
            `/31`, `/30`, `/29` or `/28`.
          example: /30
          type: string
      required:
      - cidrBlockSize
      - location
      type: object
    IpBlock:
      description: IP Block Details.
      example:
        location: PHX
        cidr: 1.1.1.0/31
        id: 6047127fed34ecc3ba8402d2
        assignedResourceId: 6047127fed34ecc3ba8402d2
        assignedResourceType: server
        cidrBlockSize: /30
        status: unassigned
      properties:
        id:
          description: IP Block identifier.
          example: 6047127fed34ecc3ba8402d2
          type: string
        location:
          description: IP Block location ID. Currently this field should be set to
            `PHX`, `ASH`, `SGP`, `NLD`, `CHI`, `SEA` or `AUS`.
          example: PHX
          type: string
        cidrBlockSize:
          description: CIDR IP Block Size. Currently this field should be set to either
            `/31`, `/30`, `/29` or `/28`.
          example: /30
          type: string
        cidr:
          description: The IP Block in CIDR notation.
          example: 1.1.1.0/31
          type: string
        status:
          description: The status of the IP Block.
          example: unassigned
          type: string
        assignedResourceId:
          description: ID of the resource assigned to the IP Block.
          example: 6047127fed34ecc3ba8402d2
          type: string
        assignedResourceType:
          description: Type of the resource assigned to the IP Block.
          example: server
          type: string
      required:
      - cidr
      - cidrBlockSize
      - id
      - location
      - status
      type: object
    DeleteIpBlockResult:
      description: Result of a successful delete action.
      example:
        result: IP Block has been deleted.
        ipBlockId: 6047127fed34ecc3ba8402d2
      properties:
        result:
          description: IP Block has been deleted.
          example: IP Block has been deleted.
          type: string
        ipBlockId:
          description: The unique identifier of the IP Block.
          example: 6047127fed34ecc3ba8402d2
          type: string
      required:
      - ipBlockId
      - result
      type: object
    Error:
      properties:
        message:
          description: The description detailing the cause of the error code.
          readOnly: true
          type: string
        validationErrors:
          description: Validation errors, if any.
          items:
            type: string
          readOnly: true
          type: array
      required:
      - message
      type: object
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          scopes:
            bmc: Grants full access to bmc-api.
            bmc.read: Grants read only access to bmc-api.
          tokenUrl: https://auth.phoenixnap.com/auth/realms/BMC/protocol/openid-connect/token
      type: oauth2
